---

---
// Main -- "Variables"

/// Colors

$theme-red: #ed4933;

$theme-yellow: #a68627;

$theme-gray: #2e3842;

$theme-white: #fdfdfd;

$theme-black: #000000;

$twitter-color: #00aced;

$facebook-color: #3b5998;

$github-color: #171516;

$linkedin-color: #4875B4;

/// Highlight Color

::selection {
    background: lighten($theme-gray, 35%);
}

// Alignment / Margins / Paddings

.vcenter {
    display: flex;
    flex-direction: row;
}

.medium-tb {
    padding: 50px 0 50px 0;
}

.small-rl {
    padding-left: 5px;
    padding-right: 5px;
}

.small-t {
    padding-top: .5em;
    margin-top: .5em;
}

// Text

p {
    color: $theme-gray;
    font-family: 'Open Sans', serif;
    padding: .5em;
    margin: .5em;
}

/// Blockquote

blockquote {
    border-left: 0.3em solid $theme-red;
    background-color: lighten($theme-gray, 75%);
    position: relative;
    cite {
        font-size: 0.8em;
        &:before {
            content: "\2014";
            padding-right: 5px;
        }
    }
}

blockquote:before, blockquote:after {
    color: #EBB1B2;
    content: '\f10d';
    font-family: 'FontAwesome';
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 8px;
    display: block;
}

blockquote:after {
    content:'\f10e';
    bottom:0;
    right:8px;
    top:auto;
    left:auto;
}

/// Headings

//// Heading Fonts, Colors, Etc. 

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $theme-gray;
    padding: 0;
    margin: .5em;
}

//// Heading Sizes

/// Links

a {
    color: $theme-white;
    text-decoration: dashed underline;
    padding: 0;
    margin: 0;
}

.sub-button {
    display: block;
    margin: .5em auto;
    min-width: 200px;
    max-width: 250px;
    min-width: 50px;
    max-height: 75px;
    border: 3px solid $theme-red;
    border-radius: 5px;
    background-color: $theme-red;
    cursor: pointer;
    text-align: center;
    a {
        font-size: 1.25em;
        text-decoration: none;
        padding: 0;
        &:hover,
        &:focus {
            color: $theme-white;
            text-decoration: none;
        }
    }
    &:hover,
    &:focus {
        border: 3px solid lighten($theme-red, 7.5%);
        background-color: lighten($theme-red, 5%);
        transition: .5s;
    }
}

// Lists

// Tables

// Horizontal Rules

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2.5px solid $theme-gray;
    margin: 0;
    padding: 0; 
}

// Images

.feature {
    min-width: 80%;
    max-height: 200px;
    background-repeat: no-repeat;
}

// Sections

// "red blanks"

.blank {
    height: 1vh;
    background-color: $theme-red;
}

/// Banner -- Front

.banner-front {
    background-image: url('../images/feature.png');
    background-size: cover;
    background-attachment: fixed;
    @media (max-width: 767px) {
        background-attachment: scroll;
    }
    background-position: center;
    min-height: 100vh;
    text-align: center;
    color: $theme-white;
    .banner-content {
        h1 {
            margin-top: 25vh;
            margin-bottom: 5vh;
            color: $theme-white;
            font-size: 3.25em;
            font-weight: 800;
            @media (max-width: 767px) {
                font-size: 2.5em;
            }
        }
        p {
            color: $theme-white;
            font-size: 1.5em;
            @media (max-width: 767px) {
                font-size: 1.25em;
            }
        }
        .sub-button {
            margin-top: 25vh;
        }
    }
}

/// Blog Section -- Vertical Tiles (option one)

.blog-tiles {
    min-height: 33.3vh;
    background-color: $theme-white;
    text-align: center;
    .blog-content {
        border: 1px solid $theme-gray;
        border-radius: 5px;
        box-shadow: .5vw .5vh .5vw 0 $theme-gray;
        cursor: pointer;
        &:hover,
        &:focus {
            box-shadow: .25vw .25vh .5vw 0 $theme-gray;
            transition: .1s;
        }
        img {
            border: 1px solid $theme-gray;
            border-radius: 5px;
        }
        h3 {
            font-family: 'Dancing Script', serif;
            color: darken($theme-gray, 35%);
            font-weight: 600;
        }
        h4 {
            color: darken($theme-gray, 35%);
        }
        p {
            color: darken($theme-gray, 35%);
            padding: inherit;
            line-height: inherit;
            vertical-align: middle;
        }
        a {
            color: darken($theme-gray, 35%);
            text-decoration: none;
        }
    }
}

/// Blog Section -- Horizontal Tiles (option two)

.blog-tiles-alt {
    min-height: 33.3vh;
    background-color: $theme-white;
    text-align: center;
    padding: 5em 0 5em 0; // top right bottom left.. clockwise
    .blog-content {
        border: 1px solid $theme-gray;
        border-radius: 5px;
        box-shadow: .5vw .5vh .5vw 0 $theme-gray;
        padding: .5em;
        cursor: pointer;
        &:hover,
        &:focus {
            box-shadow: .25vw .25vh .5vw 0 $theme-gray;
            transition: .1s;
        }
        h4 {
            color: darken($theme-gray, 35%);
            text-transform: capitalize;
            font-weight: 600;
        }
        h5 {
            color: darken($theme-gray, 15%);
        }
        p {
            color: darken($theme-gray, 35%);
            padding: .5em;
            margin: .5em;
        }
        a {
            color: darken($theme-gray, 35%);
            text-decoration: none;
            padding: 0;
            margin: 0;
        }
        hr {
            color: darken($theme-gray, 35%);
            display: block;
            height: 1px;
            border: 0;
            border-top: 2.5px solid darken($theme-gray, 15%);
            margin: .5em 0 .5em 0;
            padding: 0; 
        }
    }
    
}

.post-box {
    margin: 15px 0 15px 0;
}

/// Blog Posts

.post-content {
    font-size: 1.25em;
    margin: auto;
    h2 {
        font-family: 'Dancing Script', serif;
    }
    a {
        text-decoration: none;
        color: $theme-gray;
        border-bottom: 1px dotted;
            &:hover {
                border-bottom: 0px;
                color: darken($theme-gray, 0.5);
                transition: 1s;
            }
    }
}

.feature-image {
    background-image: url('../images/features-1620x540/introducing.png');
    background-size: cover;
    background-attachment: fixed;
    @media (max-width: 767px) {
        background-attachment: scroll;
    }
    min-height: 30vh;
    max-height: 50vh;
    .feature-content {
        h2 {
            text-transform: uppercase;
            text-align: center;
            color: $theme-white;
            font-size: 2em;
            padding: 2em 1em;
            font-weight: 800;
        }
    }
    
}

.gray-block {
        background-color: transparentize($theme-gray, .15);
        min-height: 15vh;
        max-height: 25vh;
        display: block;
        vertical-align: middle;
    }

/// Footer Section

.footer-section {
    background-image: url('../images/feature.png');
    background-size: cover;
    background-attachment: fixed;
    @media (max-width: 767px) {
        background-attachment: scroll;
    }
    line-height: 1em;
    text-align: center;
    h2 {
        color: $theme-white;
        font-size: 2em;
        font-weight: 800;
    }
    p {
        color: $theme-white;
        font-size: 1em;
    }
    a {
        font-size: .85em;    
        text-decoration: none;
        &:hover,
        &:focus {
            color: $theme-white;
            text-decoration: none;
        }
    }
}

//// Top Border

.blank {
    min-height: 1vh;
    background-color: $theme-red;
}

//// Subscription Section

.sub-preview {
    min-height: 10vh;
}

//// Social Media Section

.social-section {
    min-height: 7.5vh;
    background-color: transparentize($theme-gray, 0.15);
    p {
        color: darken($theme-white, 35%);
        font-size: .9em;
    }
    a {
        color: darken($theme-white, 35%);
        font-size: 1em;    
        text-decoration: none;
    }
    a.alt {
        border-bottom: 1px dotted;
            &:hover {
                border-bottom: 0px;
                color: $theme-white;
                transition: 1s;
            }
    }
}


// Bootstrap Overrides

.container-fluid {
    padding: 0;
}