---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Main -- Body

// Text



/// Headings

/// Links

// Lists

// Tables

// Horizontal Rules

// Colors

.white {
    color: white;
}

.red {
    color: red;
}

// Images

/// Background Images

.bg-image-banner {
    background-image: url('../images/feature.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

// Sections

/// Banner -- Front


// Bootstrap Overrides