--- 
layout: default 
--- 

<section id="banner">
  {% include landingPage/banner.html %}
</section>

{% include newNavbar.html %}

<div class="container">
  
  <section id="startHere">
    <h1>About <span class="secondWord">Us</span></h1>
    <p>This blog has constantly evolved as we learned more about our readers...and ourselves. This is a professional development blog focused on learning how to pitch your professional brand.</p>
    {% include landingPage/startHere.html %}
  </section>
	
  <section id="latest-blogs">
    <h1>Latest <span class="secondWord">Blogs</span></h1>
    <p>Some of our latest blogs...</p>
    {% include landingPage/blogs.html %}
  </section>

  <section id="letsCollaborate">
    <h1>Let's <span class="secondWord">Collaborate</span></h1>
    <p>Some of the most valuable lessons are learned through teamwork. We’ve had the opportunity to work with great people to bring you content from different perspectives.</p>
    {% include landingPage/letsCollaborate.html %}
  </section>

  <section id="services">
    <h1>Services <span class="secondWord">Offered</span></h1>
    <p>Some of the services we offer...</p>
    {% include landingPage/services.html %}
  </section>

  <section id="readingList">
    <h1>Reading <span class="secondWord">List</span></h1>
    <p>When we're not writing we're reading. Some of what we're currently reading can be found here.</p>
    {% include landingPage/readingList.html %}
  </section>

  <section id="joinPareAndFlourish">
    <h1>Join <span class="secondWord">Us</span></h1>
    <p>There are many moving parts in the job application process. To pitch your professional brand and make a good first impression, you need the right tools. We can help you gain the confidence you need by helping you prepare.</p>
    {% include landingPage/joinPareAndFlourish.html %}
  </section>

	<script>

	</script>

</div>
