#amReading {
  padding-bottom: 10%;
  .bookRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .bookTile {
      margin: 1rem;
      flex: 1 150px;
      display: flex;
      justify-content: center;
      a {
        border-bottom: none;
        background: transparent;
        img {
          @include rotate(-10deg);
          @include userSelect(none);
          @include transition(0.25s, ease-in-out, all);
          border: none;
          max-height: 200px;
          filter: grayscale(100%);
          &:hover {
            @include rotate(0deg);
            filter: grayscale(0%);
          }
        }
      }
    }
  }
}
