#services {
  .panel {
    &.resume,
    &.coverLetter,
    &.linkedIn {
      margin-bottom: 8px;
      .panelOuter {
        justify-content: flex-end;
      }
    }
    &.resume {
      .panelOuter {
        background-image: url('/assets/images/other/services/file.svg');
      }
    }
    &.coverLetter {
      .panelOuter {
        background-image: url('/assets/images/other/services/files.svg');
      }
    }
    &.linkedIn {
      .panelOuter {
        background-image: url('/assets/images/other/services/laptop.svg');
      }
    }
  }
  ol {
    font-family: $secondaryFont;
    font-size: 1.75rem;
    li {
      margin: 0 0 .5rem;
      &:before {
        content: "";
        color: $accent;
        border: 1px solid $accent;
        margin-right: 10px;
        padding: 1px 0;
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .services {
    display: flex;
    .servicePanels {
      flex: 1;
    }
    .howItWorks {
      flex: 2;
      ol {
        margin: .25rem;
        li {
          padding: .2rem;
        }
      }
    }
  }
}
