#services {
  .resume,
  .coverLetter,
  .linkedIn {
    .panel {
      @include userSelect(none);
      display: flex;
      justify-content: flex-end;
      font-family: $primaryFont;
      font-size: 1.75rem;
      padding: .5rem;
      margin: .5rem;
      background: $accent no-repeat;
      background-size: contain;
      border: 2px solid $accent;
      border-radius: 2px;
      cursor: pointer;
      box-shadow: inset 0 0 2px rgba($black, 0.15);
      &:hover {
        box-shadow: inset 0 0 4px rgba($black, 0.25);
        color: $white;
      }
    }
    .fact {
      font-family: $secondaryFont;
      font-size: 1.75rem;
      padding: .5rem;
      margin: .5rem;
    }
  }
  .resume {
    .panel {
      background-image: url('https://raw.githubusercontent.com/mtlong29/images/master/PAndFServics/resume.png');
    }
  }
  .coverLetter {
    .panel {
      background-image: url('https://raw.githubusercontent.com/mtlong29/images/master/PAndFServics/cover-letter.png');
    }
  }
  .linkedIn {
    .panel {
      background-image: url('https://raw.githubusercontent.com/mtlong29/images/master/PAndFServics/linkedin.png');
    }
  }
  ol {
    font-family: $secondaryFont;
    font-size: 1.75rem;
    li {
      margin: 0 0 .5rem;
      &:before {
        content: "";
        color: $accent;
        border: 1px solid $accent;
        margin-right: 10px;
        padding: 1px 0;
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .services {
    display: flex;
    .servicePanels {
      flex: 1;
    }
    .howItWorks {
      flex: 2;
      ol {
        margin: .25rem;
        li {
          padding: .2rem;
        }
      }
    }
  }
}
