.container-fluid {
  padding: $zeroPadding;
}

body {
  @include transition(.2s, ease, all);
  background: url('/assets/images/other/background-pattern.png');
  background-repeat: repeat;
}

img {
  margin: $autoMargin;
  border: $commonBorder;
  border-radius: $commonRadius;
  box-shadow: $commonShadow;
  &.noImageStyling {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.temp-pag {
  text-align: center;
}

.center-image {
  box-shadow: none;
  border: none;
  display: flex;
}

::selection {
  background: $accentLighten;
}

::-moz-selection {
  background: $accentLighten;
}

.glyphicon {
  display: none !important;
}