<section id="about-us-preview">
    <div>
        <header>
            <h2>Arcu aliquet vel lobortis ata nisl<br />
            eget augue amet aliquet nisl cep donec</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
            fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
        </header>
        <ul>
            <li><span class=""><span class="label">Lorem</span></span></li>
            <li><span class=""><span class="label">Ipsum</span></span></li>
            <li><span class=""><span class="label">Dolor</span></span></li>
        </ul>
    </div>
</section>