<section id="about-us-preview">
    
    <div class="container about-preview">
        <header>
            <h2>Arcu aliquet vel lobortis ata nisl<br />
            eget augue amet aliquet nisl cep donec</h2>
            <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
            fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
        </header>
        
        <div class="col-lg-4">
            <h2>Skylar Wooden</h2>
        </div>
        <div class="col-lg-4">
            <h2>Katie Butler</h2>
        </div>
        <div class="col-lg-4">
            <h2>Matthew Long</h2>
        </div>
        
    </div>
    
</section>