<section id="about-us-preview">
    
    <div class="about-preview">
        <div class="container">
            <div class="about-content">
                <h3>Arcu aliquet vel lobortis ata nisl eget augue amet aliquet nisl cep donec</h3>
                <hr>
                <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend. Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend. Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend. </p>
                    
                <p>Fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="">
                    <img src="../images/about/skylar.png" alt="" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="rhombus-shape">
                    <img src="../images/about/katie.png" alt="" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="rhombus-shape">
                    <img src="../images/about/matthew.png" alt="" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>
    
</section>