<section id="banner-front">
    
    <div class="banner-front">
        <h1><span class="slabtext">{{ site.title }}</h1>
            
        <div class="container banner-content">

            <h1><span class="slabtext">{{ site.title }}</h1>

            <p>{{ site.description }}</p>

            <div class="col-lg-12">
                <div class="sub-button">
                    <a href="#">Subscribe</a>
                </div>
            </div>

        </div>

    </div>
    
    <div class="blank"></div>

</section>