<section id="banner" class="">
    
    <div class="bg-image-banner">
    
        <div class="container">
            
            <h2 class="white">{{ site.title }}</h2>

            <p class="white">{{ site.description }}</p>

            <div class="col-lg-12">
                <a href="#" class="white">Subscribe</a></li>
            </div>

            <div class="col-lg-12">
                <a href="#" class="white">Learn More</a>
            </div>

        </div>
    
    </div>

</section>