<section id="blog-tiles-one" class="">
    <div class="blog-htiles">
        <div class="container">

            <h1>Option One</h1>
            <hr>
            
            {% for post in site.categories.blog limit:9 %}

                <div class="col-lg-3 col-md-6 col-sm-6 blog-content">
                    <a href="{{ site.url }}{{ post.url }}">
                        <img src="{{ site.url }}/images/teasers - 1080x600/{{ post.image.teaser }}" class="img-responsive" alt="{{ post.image.alt }}" />
                        <h2>{{ post.title }}</h2>
                        <h4>{{ post.modified }}</h4>
                        <p>{{ post.excerpt }}</p>
                    </a>
                </div>

            {% endfor %}
            
        </div>
    </div>
</section>