<section id="blog-tiles-two" class="">
    {% for post in site.categories.blog limit:9 %}
            <section class="">
                <div class="">
                    <img src="{{ site.url }}/images/teasers - 1080x600/{{ post.image.teaser }}" alt="{{ post.image.alt }}" />
                </div>
                <div class="">
                    <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
                    <h4 class="">{{ post.modified }}</h4>
                    <p>{{ post.excerpt }}</p>
                </div>
            </section>
    {% endfor %}
</section>