<section id="blog-tiles-two" class="">
    <div class="blog-vtiles">
        <div class="container">
            
            <h1>Option Two</h1>
            <hr>
            
            {% for post in site.categories.blog limit:9 %}

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="{{ site.url }}{{ post.url }}">
                        <div class="">
                            <img src="{{ site.url }}/images/teasers - 1080x600/{{ post.image.teaser }}" class="img-responsive" alt="{{ post.image.alt }}" />
                        </div>
                        <div class="">
                            <h2>{{ post.title }}</h2>
                            <h4 class="">{{ post.modified }}</h4>
                            <p>{{ post.excerpt }}</p>
                        </div>
                    </a>
                </div>

            {% endfor %}
            
        </div>
    </div>
</section>