<!-- Feature image section. The feature images are the images that appear at the top of ever page. Except the front page. The front page image is referred to as the banner image. In the future the feature image should be different for the start here, various blog category, work with us, resources, and join us pages. -->
   
<section id="feature-image"> 
    
	<div class="feature-image"></div> <!-- "Feature" image. -->
	<div class="blank"></div> <!-- Bar/line below the feature image. -->

</section>