<!-- Feature image section. The feature images are the images that appear at the top of ever page. Except the front page. The front page image is referred to as the banner image. In the future the feature image should be different for the start here, various blog category, work with us, resources, and join us pages. -->

<section id="feature-image">
  <div class="container-fluid">

    {% if page.url == "/start-here/" %}

      <div class="feature-image">
        <img src="/images/header/startHere.jpg" class="img-responsive" data-alt="header image for about page" pin-nopin="true">
      </div>

    {% elsif page.url == "/lets-collaborate/" %}

      <div class="feature-image">
        <img src="/images/header/letsCollaborate.jpg" class="img-responsive" alt="header image for collaborate page">
      </div>

    {% elsif page.url == "/reading-list/" %}

      <div class="feature-image">
        <img src="/images/header/readingList.jpg" class="img-responsive" alt="header image for reading list page">
      </div>

    {% elsif page.url == "/join-pare-and-flourish/" %}

      <div class="feature-image">
        <img src="/images/header/join-pare-and-flourish.jpg" class="img-responsive" alt="header image for join pare and flourish page">
      </div>
    
    {% elsif page.url == "/events/" %}

      <div class="feature-image">
        <img src="/images/header/events.jpg" class="img-responsive" alt="header image for events page">
      </div>

    {% elsif page.url == "/sitemap/" %}

      <div class="feature-image">
        <img src="/images/header/join-pare-and-flourish.jpg" class="img-responsive" alt="header image for sitemap page">
      </div>

    {% elsif page.url == "/tags/" %}

      <div class="feature-image">
        <img src="/images/header/join-pare-and-flourish.jpg" class="img-responsive" alt="header image for tags page">
      </div>

    {% elsif page.url == "/404/" %}

      <div class="feature-image">
        <img src="/images/header/404.jpg" class="img-responsive" data-pin-alt="header image for the 404 page" nopin="true">
      </div>

    {% else %}

      {% include carousel.html %}

    {% endif %}

  </div>
</section>
