<section id="feature-image">
  <div class="container-fluid">

    {% if page.url == "/start-here/" %}

      <div class="feature-image">
        <img src="/assets/images/header/startHere.jpg" class="img-responsive" data-alt="header image for about page">
      </div>

    {% elsif page.url == "/lets-collaborate/" %}

      <div class="feature-image">
        <img src="/assets/images/header/letsCollaborate.jpg" class="img-responsive" alt="header image for collaborate page">
      </div>

    {% elsif page.url == "/reading-list/" %}

      <div class="feature-image">
        <img src="/assets/images/header/readingList.jpg" class="img-responsive" alt="header image for reading list page">
      </div>

    {% elsif page.url == "/join-pare-and-flourish/" %}

      <div class="feature-image">
        <img src="/assets/images/header/join-pare-and-flourish.jpg" class="img-responsive" alt="header image for join pare and flourish page">
      </div>
    
    {% elsif page.url == "/events/" %}

      <div class="feature-image">
        <img src="/assets/images/header/events.jpg" class="img-responsive" alt="header image for events page">
      </div>

    {% elsif page.url == "/sitemap/" %}

      <div class="feature-image">
        <img src="/assets/images/header/join-pare-and-flourish.jpg" class="img-responsive" alt="header image for sitemap page">
      </div>

    {% elsif page.url == "/tags/" %}

      <div class="feature-image">
        <img src="/assets/images/header/join-pare-and-flourish.jpg" class="img-responsive" alt="header image for tags page">
      </div>

    {% elsif page.url == "/404/" %}

      <div class="feature-image">
        <img src="/assets/images/header/404.jpg" class="img-responsive" data-pin-alt="header image for the 404 page">
      </div>

    {% elsif page.image.feature %}
    
      <div class="feature-image">
        <div class="post-image" style="background-image:url('/assets/images/feature/{{page.image.feature}}');">
          <div class="post-image-content">{{page.title}}</div>
        </div>
      </div>

    {% else %}

      {% include carousel.html %}

    {% endif %}

  </div>
</section>
