<!-- Feature image section. The feature images are the images that appear at the top of ever page. Except the front page. The front page image is referred to as the banner image. In the future the feature image should be different for the start here, various blog category, work with us, resources, and join us pages. -->
   
<section id="feature-image"> 
  <div class="container-fluid">

      {% if page.url == "/start-here/" %}

        <div class="feature-image">
          <div class="feature-large">
            <img src="{{site.url}}/images/header/star-large.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
          <div class="feature-small">
            <img src="{{site.url}}/images/header/star-small.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
        </div>

      {% elsif page.url == "/personal-development/" %}

        <div class="feature-image">
          <div class="feature-large">
            <img src="{{site.url}}/images/header/pers-large.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
          <div class="feature-small">
            <img src="{{site.url}}/images/header/pers-small.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
        </div>

      {% elsif page.url == "/professional-development/" %} <!-- Professional development page feature image. -->

        <div class="feature-image">
          <div class="feature-large">
            <img src="{{site.url}}/images/header/prof-large.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
          <div class="feature-small">
            <img src="{{site.url}}/images/header/prof-small.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
        </div>

      {% elsif page.url == "/bonus-material/" %}

        <div class="feature-image">
          <div class="feature-large">
            <img src="{{site.url}}/images/header/bonu-large.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
          <div class="feature-small">
            <img src="{{site.url}}/images/header/bonu-small.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
        </div>

      {% elsif page.url == "/work-with-us/" %}
		
        <div class="feature-image">
          <div class="feature-large">
            <img src="{{site.url}}/images/header/work-large.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
          <div class="feature-small">
            <img src="{{site.url}}/images/header/work-small.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
        </div>

      {% elsif page.url == "/resources/" %}

        <div class="feature-image">
          <div class="feature-large">
            <img src="{{site.url}}/images/header/reso-large.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
          <div class="feature-small">
            <img src="{{site.url}}/images/header/reso-small.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
        </div>

      {% elsif page.url == "/join-pare-and-flourish/" %}

        <div class="feature-image">
          <div class="feature-large">
            <img src="{{site.url}}/images/header/join-large.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
          <div class="feature-small">
            <img src="{{site.url}}/images/header/join-small.jpg" class="img-responsive" data-pin-nopin="true">
          </div>
        </div>

      {% else %}
    
        <div class="feature-image">
          <div class="feature-large">
            <img src="{{site.url}}/images/header/{{page.image.ftlarge}}" class="img-responsive" data-pin-nopin="true">
          </div>
          <div class="feature-small">
            <img src="{{site.url}}/images/header/{{page.image.ftsmall}}" class="img-responsive" data-pin-nopin="true">
          </div>
        </div>

      {% endif %}

  </div>
</section>