<section id="footer">
	<div class="container">

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<a href="{{site.url}}">
					<img class="img-responsive img-fluid" src="{{site.url}}/images/other/pareAndFlourishFooterLogo.png">
				</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<p>Find us on social media (shown below) or contact us by email at <a href="mailto:{{site.email}}">{{site.email}}</a>.</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<a href="{{site.links.twitter}}" class="socialLinks" target="_blank">
					<span class="fa-stack fa-lg" title="See our tweets here"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x twitter-color"></i></span>
				</a>
				<a href="{{site.links.rss}}" class="socialLinks" target="_blank">
					<span class="fa-stack fa-lg" title="See our RSS feed here"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-rss fa-stack-1x rss-color"></i></span>
				</a>
				<a href="{{site.links.facebook}}" class="socialLinks" target="_blank">
					<span class="fa-stack fa-lg" title="See our facebook here"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x facebook-color"></i></span>
				</a>
				<a href="{{site.links.pinterest}}" class="socialLinks" target="_blank">
					<span class="fa-stack fa-lg" title="See our pins here"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-pinterest fa-stack-1x pinterest-color"></i></span>
				</a>
				<a href="{{site.links.github}}" class="socialLinks" target="_blank">
					<span class="fa-stack fa-lg" title="See the source code for our site here"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-github fa-stack-1x github-color"></i></span>
				</a>
				<a href="{{site.links.instagram}}" class="socialLinks" target="_blank">
					<span class="fa-stack fa-lg" title="See our instagram here"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x instagram-color"></i></span>
				</a>
				<a href="{{site.links.paypal}}" class="socialLinks" target="_blank">
					<span class="fa-stack fa-lg" title="Click here to donate"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-paypal fa-stack-1x paypal-color"></i></span>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="footerLinks">
					<p><a href="{{site.url}}">Pare and Flourish</a></p>
					<p><a href="{{site.url}}/start-here/">Start Here</a></p>
					<p><a href="{{site.url}}/lets-collaborate/">Let's Collaborate</a></p>
					<p><a href="{{site.url}}/reading-list/">Reading List</a></p>
					<p><a href="{{site.url}}/join-pare-and-flourish/">Join Pare and Flourish</a></p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<p>&copy; Pare and Flourish, 2017. Unauthorized use and/or duplication of this material without express and written permission from this site’s author and/or owner is strictly prohibited. Excerpts and links may be used, provided that full and clear credit is given to Pare and Flourish with appropriate and specific direction to the original content. All content is created and maintained by Pare and Flourish unless otherwise indicated. All images are from either unsplash.com or pexels.com unless otherwise indicated.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<p>Pare and Flourish LLC is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to pareandflourish.com.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<p>Site design and development by <a href="http://www.mtlong.me" target="_blank">Matthew Long</a>. Logo design by <a href="http://www.baileegrob.com" target="_blank">Bailee Grob</a>.</p>
			</div>
		</div>

	</div>
</section>
