<footer>
  <section id="footerPrimary">
    <div class="container content">
      <div class="footerPageLinks">
        <h3>Sitemap</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/start-here/">About</a></li>
          <li><a href="/lets-collaborate/">Collaborate</a></li>
          <li><a href="/services/">Services</a></li>
          <li><a href="/events/">Events</a></li>
          <li><a href="/reading-list/">Reading List</a></li>
          <li><a href="/join-pare-and-flourish/">Join Pare and Flourish</a></li>
        </ul>
      </div>
      <div class="footerSupportUs">
        <h3>Support</h3>
        <span>If you like what you see please consider supporting us on Patreon!</span>
        <a class="commonButton" href="https://www.patreon.com/pareandflourish">Support Now!</a>
      </div>
      <div class="footerContact">
        <h3>Contact</h3>
        <span class="email"></span>
        <div class="socialLinks">
          <a href="{{site.links.twitter}}">
            {% include svgs/twitter.html %}
          </a>
          <a href="{{site.links.rss}}">
            {% include svgs/rss.html %}
          </a>
          <a href="{{site.links.facebook}}">
            {% include svgs/facebook.html %}
          </a>
          <a href="{{site.links.instagram}}">
            {% include svgs/instagram.html %}            
          </a>
          <a href="{{site.links.linkedin}}">
            {% include svgs/linkedin.html %}
          </a>
          <a href="{{site.links.paypal}}">
            {% include svgs/paypal.html %}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="colophon">
    <div class="container content">
      <span>&copy; {{site.title}}, {{"now" | date: "%Y"}}</span>
      <span><a href="/terms-and-conditions/">Terms and Conditions</a></span>
    </div>
  </section>
</footer>