<!-- The head tag contains meta data, website/page title, links to stylesheets, links to favicons, links to scrpts, as well as a couple small scripts (google analytics and google adsense). -->

<head>
    
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="p:domain_verify" content="902b7d54021d7361708728fa135c5eed" />

  <!-- Pinterest Rich Pins (Article Pins) -->
  <meta property="og:type" content="article" />

  <!-- Website/Post Title -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />

  <!-- Website/Post Description -->
  <meta name="description" property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <!-- Website/Post URL -->
  <meta property="og:url" content="{% if page.permalink %}{{ site.url }}{{ page.permalink }}{% else %}{{ site.url }}{% endif %}" />  

  <!-- Site Name-->
  <meta property="og:site_name" content="pareandflourish.com" />

  <!-- Article Publish Time -->
  <meta property="article:published_time" content="{% if page.published %}{{ page.published }}{% else %}{{ site.first_published }}{% endif %}" />

  <!-- Website/Post Authors -->
  <meta name="author" property="article:author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.team }}{% endif %}" />

  <!-- Website/Post Keywords-->
  <meta name="Keywords" property="" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
  
  <!-- Facebook App Moderation -->
  <meta property="fb:app_id" content="174295113036712" />
  
  <!-- Website Title -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Link to rss feed -->
  <link rel="alternate" type="application/rss+xml" title="Pare and Flourish - All Posts" href="/feed.xml">

  <!-- Stylesheets -->

  <!-- Custom Google Fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans">

  <!-- Font Awesome (icons) -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/font-awesome/css/font-awesome.css">

  <!-- animate.css -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/animate/animate.css">
  
  <!-- Custom CSS -->

  <!-- This is the subscriber tool css link (custom css overrides can be found in subscribe.scss -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

  <!-- This includes bootstrap, sass partials, navbar, and other plugins -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/stylesheets/main.css">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fdfdfd">

  <meta name="theme-color" content="#fdfdfd">

  <!-- Javascript -->

  <!-- jquery -->
  <script type="text/javascript" src="{{ site.url }}/assets/javascript/vendor/jquery.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  
  <script type="text/javascript" src="{{ site.url }}/assets/javascript/animate-sidebar.js"></script>
  
  <script type="text/javascript" src="{{ site.url }}/assets/javascript/animate-sub-button.js"></script>
  
  <!-- Bootstrap Core JavaScript -->
  <script type="text/javascript" src="{{ site.url }}/assets/bootstrap/js/bootstrap.js"></script>

  <!-- Navbar Collapse -->
  <script type="text/javascript" src="{{ site.url }}/assets/javascript/navcollapse.js"></script>

  <!-- Twitter widget -->
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!-- Subscribe Tool (mailchimp.com) -->
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>

  <script type="text/javascript" src="{{ site.url }}/assets/javascript/subscribe.js"></script>

  <!-- Facebook Comments -->
  <div id="fb-root"></div>
  <script type="text/javascript" src="{{ site.url }}/assets/javascript/facebook-comments.js"></script>

  <!-- Pinterest Button -->
  <script async defer data-pin-hover="true" data-pin-tall="true" data-pin-save="true" src="//assets.pinterest.com/js/pinit.js"></script>
  
  <!-- Mailchimp Subscribe Popup -->
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us14.list-manage.com","uuid":"21b3326a4d3b41c8b98c42507","lid":"32335e5912"}) })</script>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86211989-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Google AdSense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5907828496259396",
    enable_page_level_ads: true
    });
  </script>

</head>