<!-- The head tag contains meta data, website/page title, links to stylesheets, links to favicons. -->

<head>
    
  <meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">

	<meta name="p:domain_verify" content="902b7d54021d7361708728fa135c5eed">

	<!-- Pinterest Rich Pins (Article Pins) -->
	<meta property="og:type" content="article">

	<!-- Website/Post Title -->
	<meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}">

	<!-- Website/Post Description -->
	<meta name="description" property="og:description" content="{% if page.excerpt %}{{page.excerpt | strip_html | strip_newlines | truncate: 160}}{% else %}{{site.description}}{% endif %}">

	<!-- Website/Post URL -->
	<meta property="og:url" content="{% if page.permalink %}{{page.permalink}}{% else %}/{% endif %}">  

	<!-- Site Name-->
	<meta property="og:site_name" content="pareandflourish.com">

	<!-- Article Publish Time -->
	<meta property="article:published_time" content="{% if page.published %}{{page.published}}{% else %}{{site.first_published}}{% endif %}">

	<!-- Website/Post Authors -->
	<meta name="author" property="article:author" content="{% if page.author %}{{page.author}}{% else %}{{site.team}}{% endif %}">

	<!-- Website/Post Keywords-->
	<meta name="Keywords" property="" content="{% if page.keywords %}{{page.keywords}}{% else %}{{site.keywords}}{% endif %}">

	<!-- Facebook App Moderation -->
	<meta property="fb:app_id" content="174295113036712">
  
	<!-- RSS. Link to rss feed. -->
	<link rel="alternate" type="application/rss+xml" title="Pare and Flourish - All Posts" href="/feed.xml">

	<!-- Mailchimp. This is the subscriber tool css link. Custom css overrides can be found in subscribe.scss. More information can be found at https://mailchimp.com/resources/guides/getting-started-with-mailchimp/html/. -->
	<link rel="stylesheet" type="text/css" href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css">

	<!-- Main CSS. This includes bootstrap overrides, mailchimp overrides, scss partial, and more. -->
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/all.css">

	<!-- Favicons.  -->
	<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/images/icons/manifest.json">
	<link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#fdfdfd">
	
  <!-- Website Title -->
	<title>
		{% if page.title %}
			{{page.title}} - {{site.title}}
		{% else %}
			{{site.title}}
		{% endif %}
	</title>

</head>