<div id="header-image">
  {% if page.path contains '_posts' %}
  <div class="post-image" style="background-image:url('/assets/images/header/{{page.image.header}}');">
    <div class="post-image-content">{{page.title}}</div>
  </div>
  {% elsif page.url == '/' %}
  <div class="page-image" style="background-image:url('/assets/images/header/{{page.image.header}}');">
    <div class="page-image-content">Learn how to pitch your professional brand!</div>
  </div>
  {% else %}
  <div class="page-image" style="background-image:url('/assets/images/header/{{page.image.header}}');">
    <div class="page-image-content">{{page.title}} - Pare and Flourish</div>
  </div>
  {% endif %}
</div>