<!-- -Latest blogs. This is a for loop for all blogs (regardless of category) to appear on the home page. -->

<section id="latest-blogs">
	<div class="blog-tiles">
		
		<!-- Latest blog heading (used for homepage) -->
		
		{% for post in site.posts %}
			{% include blog-tiles.html %} 
		{% endfor %}
		
		<!-- If we have a previous page, we show a link to it -->
<!--
		{% if paginator.previous_page %}
			<span class="previous"><a href="{{ paginator.previous_page_path }}">Previous</a></span>
		{% endif %}
-->

		<!-- If we have a next page, we show a link to it -->
<!--
		{% if paginator.next_page %}
			<span class="next"><a href="{{ paginator.next_page_path }}">Next</a></span>
		{% endif %}
-->
		
	</div>
</section>
