<nav class="navbar navbar-custom" role="navigation"> <!-- Open navigation tag. -->
  <div class="container"> <!-- Navigation bar container (bootstrap). -->

    <div class="navbar-header"> <!-- Navigation home (left side). -->

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <!-- Three bar button to open menu on small windows -->
        <i class="fa fa-bars"></i>
      </button>

      <a class="navbar-brand" href="{{ site.url }}/"> <!-- Link to home page -->
        <span class="light">Pare and Flourish</span>
      </a>

    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse"> <!-- Collect the nav links, forms, and other content for toggling (right side). -->

      <ul class="nav navbar-nav">

        <li> <!-- Navbar link to start here page -->
          <a href="/start-here/"><span class="light">Start Here</span></a>
        </li>

        <li> <!-- Link to work with us page -->
          <a href="/work-with-us/"><span class="light">Work With Us</span></a>
        </li>

        <li> <!-- Link to resources page -->
          <a href="/resources/"><span class="light">Resources</span></a>
        </li>

        <li> <!-- Link to join page and flourish page -->
          <a href="/join-pare-and-flourish/"><span class="light">Join Pare and Flourish</span></a>
        </li>

      </ul>

    </div>

  </div>
</nav> <!-- Close navigation tag. -->