<div class="siteLogo">
  <a href="{{site.url}}">
    <img src="{{site.url}}/images/other/pareAndFlourishFooterLogo.png">
  </a>
</div>
<div class="hamburgerButton" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><a href="{{site.url}}">Home</a></li>
			<li><a href="{{site.url}}/start-here/">Start Here</a></li>
      <li><a href="{{site.url}}/lets-collaborate/">Let's Collaborate</a></li>
      <li><a href="{{site.url}}/reading-list/">Reading List</a></li>
      <li><a href="{{site.url}}/join-pare-and-flourish/">Join Pare and Flourish</a></li>
    </ul>
  </nav>
</div>