<div class="hamburgerButton" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><a href="{{site.url}}">Home</a></li>
			<li><a href="{{site.url}}">Start Here</a></li>
      <li><a href="{{site.url}}">Join Pare and Flourish</a></li>
      <li><a href="{{site.url}}">Let's Collaborate</a></li>
      <li><a href="{{site.url}}">Reading List</a></li>
    </ul>
  </nav>
</div>