<div class="nav-container">

  {% if page.url == "/" %}
  <section class="menuTabs">
    <div class="menuTabsContainer">
      <a class="menuTab" href="#banner">
        <img src="{{site.url}}/images/other/pareAndFlourishBannerLogo.png">
      </a>
      <a class="menuTab" href="{{site.url}}/start-here/">About</a>
      <a class="menuTab" href="#latest-blogs">Blogs</a>
      <a class="menuTab" href="{{site.url}}/lets-collaborate/">Collaborate</a>
      <a class="menuTab" href="#services">Services</a>
      <a class="menuTab" href="{{site.url}}/events/">Events</a>
      <a class="menuTab" href="#amReading">#amReading</a>
      <a class="menuTabOverlay" href="#overlay">
        <div class="overlayMenu" id="openMenu">Menu</div>
      </a>
      <span class="menuTabSlider"></span>
    </div>
  </section>

  {% else %}

  <section class="menuTabs">
    <div class="menuTabsContainer">
      <a class="menuTab" href="{{site.url}}">
        <img src="{{site.url}}/images/other/pareAndFlourishBannerLogo.png">
      </a>
      <a class="menuTab" href="{{site.url}}/start-here/">About</a>
      <a class="menuTab" href="{{site.url}}/#latest-blogs">Blogs</a>
      <a class="menuTab" href="{{site.url}}/lets-collaborate/">Collaborate</a>
      <a class="menuTab" href="{{site.url}}/services/">Services</a>
      <a class="menuTab" href="{{site.url}}/events/">Events</a>
      <a class="menuTab" href="{{site.url}}/reading-list/">#amReading</a>
      <a class="menuTabOverlay" href="#overlay">
        <div class="overlayMenu" id="openMenu">Menu</div>
      </a>
      <span class="menuTabSlider"></span>
    </div>
  </section>

  {% endif %}

  <div class="overlay" id="overlay">
    <div class="closeOverlay" id="closeMenu">Close</div>
    <nav class="overlay-menu">
      <ul>
        <li><a href="{{site.url}}">Home</a></li>
        <li><a href="{{site.url}}/start-here/">About</a></li>
        <li><a href="{{site.url}}#latest-blogs">Blogs</a></li>
        <li><a href="{{site.url}}/lets-collaborate/">Collaborate</a></li>
        <li><a href="{{site.url}}/services/">Services</a></li>
        <li><a class="menuTab" href="{{site.url}}/events/">Events</a></li>
        <li><a href="{{site.url}}/reading-list/">#amReading</a></li>
      </ul>
    </nav>
  </div>

  <div class="join-and-search-container">
    <div class="join">
      <a href="{{site.url}}/join-pare-and-flourish/">Join Pare and Flourish Now!</a>
    </div>
    <div class="search">
      <form action="/search/" method="get">
        <input type="text" id="search-box" name="query" placeholder="Start typing here to search for something.">
        <input type="submit" value="search">
      </form>
    </div>
  </div>

</div>
