{% if page.id %}

<div class="row">

	{% if page.previous.url %}
		<div class="col-xs-6 paginate">
			<a class="prev" href="{{page.previous.url}}">
				<div class="col-xs-12">
					<button class="commonButton">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
								<title>arrow-left</title>
								<path d="M1 16l15 15v-9h16v-12h-16v-9z"></path>
							</svg>
					</button>
				</div>
				<div class="col-xs-12">
					<h3>{{page.previous.title}}</h3>
				</div>
			</a>
		</div>
	{% endif %} 
	{% if page.next.url %}
		<div class="col-xs-6 paginate">
			<a class="next" href="{{page.next.url}}">
				<div class="col-xs-12">
          <button class="commonButton">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
								<title>arrow-right</title>
								<path d="M31 16l-15-15v9h-16v12h16v9z"></path>
							</svg>
					</button>
				</div>
				<div class="col-xs-12">
					<h3>{{page.next.title}}</h3>
				</div>
			</a>
		</div>
	{% endif %}

</div>

<hr class="primary">

{% endif %}