{% if page.id %}
<hr class="primary">

<div class="row">

	{% if page.previous.url %}
		<div class="col-xs-6 paginate">
			<a class="prev" href="{{page.previous.url}}">
				<div class="col-xs-12 arrow">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
				</div>
				<div class="col-xs-12 text">
					<h3>{{page.previous.title}}</h3>
				</div>
			</a>
		</div>
	{% endif %} 
	{% if page.next.url %}
		<div class="col-xs-6 paginate">
			<a class="next" href="{{page.next.url}}">
				<div class="col-xs-12 arrow">
					<i class="fa fa-arrow-right" aria-hidden="true"></i>
				</div>
				<div class="col-xs-12 text">
					<h3>{{page.next.title}}</h3>
				</div>
			</a>
		</div>
	{% endif %}

</div>

<hr class="primary">

{% endif %}