{% if page.id %}

<div class="row">

	{% if page.previous.url %}
		<div class="col-sm-6 col-xs-12 paginate">
			<a class="prev" href="{{page.previous.url}}">
				<div class="col-xs-12">
					<button class="commonButton">
						{% include svgs/arrow-left.html %}
						<span>Previous Post</span>
					</button>
				</div>
				<div class="col-xs-12">
					<h3>{{page.previous.title}}</h3>
				</div>
			</a>
		</div>
	{% endif %} 
	{% if page.next.url %}
		<div class="col-sm-6 col-xs-12 paginate">
			<a class="next" href="{{page.next.url}}">
				<div class="col-xs-12">
          <button class="commonButton">
						<span>Next Post</span>
						{% include svgs/arrow-right.html %}
					</button>
				</div>
				<div class="col-xs-12">
					<h3>{{page.next.title}}</h3>
				</div>
			</a>
		</div>
	{% endif %}

</div>

<hr class="primary">

{% endif %}