<!-- jquery -->
<script src="../assets/javascript/vendor/jquery.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../assets/bootstrap/css/bootstrap.css"></script>

<!-- Plugins -->
<script src="../assets/javascript/plugins/jquery.slabtext.js"></script>

<!-- Navbar Collapse -->
<script src="../assets/javascript/navcollapse.js"></script>

<!-- slabtext (h1's) -->
<script src="../assets/javascript/slabtext.js"></script>