<!-- jquery -->
<script src="../assets/javascript/vendor/jquery.js"></script>


<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="../assets/bootstrap/css/bootstrap.css"></script>

<!-- Plugins -->
<script type="text/javascript" src="../assets/javascript/vendor/jquery.slabtext.min.js"></script>

<!-- Navbar Collapse -->
<script type="text/javascript" src="../assets/javascript/navcollapse.js"></script>

<!-- slabtext (h1's) -->
<script type="javascript" src="../assets/javascript/slabtext.js"></script>

<!-- slit slider -->
<script type="text/javascript" src="../assets/javascript/vendor/jquery.slitslider.js"></script>
<script type="javascript" src="../assets/javascript/slitslider.js"></script>