<section id="side-panel">
    <div class="side-panel">
    <!-- Looking for a way to disable the sidebar at certain widths (mainly for mobile devices). Media queries will be a good place to start. Also, the scroll effect where the  sidebar "attaches" itself to the navbar and follows you is a feature I have planned for later. -->
        
        <!-- Social Media Buttons -->
        
        <section id="social-buttons">
            <div class="social-buttons">
                <a href="{{ site.links.twitter }}" target="_blank">
                    <span class="fa-stack fa-2x" title="See our tweets here">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x twitter-color"></i>
                    </span>
                </a>
                <a href="{{ site.links.facebook }}" target="_blank">
                    <span class="fa-stack fa-2x" title="See our facebook here">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x facebook-color"></i>
                    </span>
                </a>                                     
                <a href="{{ site.links.pinterest }}" target="_blank">
                    <span class="fa-stack fa-2x" title="See our pins here">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-pinterest fa-stack-1x pinterest-color"></i>
                    </span>
                </a>
                <a href="{{ site.links.instagram }}" target="_blank">
                    <span class="fa-stack fa-2x" title="See our instagram here">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x instagram-color"></i>
                    </span>
                </a>
                <a href="{{ site.links.paypal }}" target="_blank">
                    <span class="fa-stack fa-2x" title="Click here to donate">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-paypal fa-stack-1x paypal-color"></i>
                    </span>
                </a>
            </div>
        </section>
        
        <!-- Teaser image that coincides with the post currently visiting. The point of having this is so pinterest will pin the image we want. -->
        
        {% if page.image.teaser %}
        <section id="current-teaser">
            <div class="current-teaser">
                <img src="{{ site.url }}/images/teasers-1080x600/{{ page.image.teaser }}" class="img-responsive" alt="{{ page.image.alt }}" />
            </div>
        
            <a href="{{ site.url }}/{{ page.category }}" title="Click here to see more posts related to {{ page.category-title }}.">
                <h4>{{ page.category-title }}</h4>
            </a>
        </section>
        {% endif %}
        
        
        <!-- Twitter Section.  -->
        <section id="twitter">
            <div class="twitter-section">
                <div class="tweets">
                    <a class="twitter-timeline" data-lang="en" data-width="1000" data-height="500" data-theme="light" data-chrome="nofooter transparent noscrollbar" href="https://twitter.com/pareandflourish">Tweets by pareandflourish</a>
                </div>
                <a href="{{ site.links.twitter }}" target="_blank">
                    <h3>See more here! <i class="fa fa-twitter"></i></h3>
                </a>
            </div>
        </section>
        
        <!-- Ads? -->
        <!-- Amazon Native Ads -->
        <section id="amazon-native-ads">
            <div class="amazon-native-ads">
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=79899e6a-8c0e-41ae-88ae-544fbb5c7c2f&storeId=pareandflouri-20"></script>
            </div>
        </section>
    
        <section id="ad-stock1">
            <img src="{{ site.url }}/images/ad-stock1.png" class="img-responsive" alt="stock ad photo" data-pin-nopin="true">
            <h4>We'd love to see your ad here!</h4>
        </section>
        
        <!-- Subscribe section here? -->
        <section id="ad-stock2">
            <img src="{{ site.url }}/images/ad-stock2.png" class="img-responsive" alt="stock ad photo" data-pin-nopin="true">
            <h4>...or here!</h4>
        </section>
    <!-- -->
    </div>
</section>