<section id="side-panel">
    <div class="side-panel">
        <h3>A few tweets could go here.</h3>
        <p>Such as latest tweets by us. Or any tweet we want really.</p>
        <img src="http://placehold.it/350x150" class="img-responsive">
        <img src="http://placehold.it/350x150" class="img-responsive">
        <hr class="secondary">
        <h4>Sponsored links here?</h4>
        <img src="http://placehold.it/350x150" class="img-responsive">
        <hr class="secondary">
        <p>Stuff here?</p>
        <img src="http://placehold.it/350x150" class="img-responsive">
        <hr class="secondary">
    </div>
</section>