<section id="side-panel">
    <div class="side-panel">
    <!-- Looking for a way to disable the sidebar at certain widths (mainly for mobile devices). Media queries will be a good place to start. Also, the scroll effect where the  sidebar "attaches" itself to the navbar and follows you is a feature I have planned for later. -->
        
        <!-- Subscribe Section -->
        <section id="subscribe">
            <div class="subscribe-section">
                <p>By subscribing you... Click below..</p>
            </div>
            <a href="#"><h3>Subscribe</h3></a>
        </section>
        
        <!-- Teaser image that coincides with the post currently visiting. The point of having this is so pinterest will pin the image we want. -->
        
        {% if page.image.teaser %}
        <section id="current-teaser">
            <div class="current-teaser">
                <img src="{{ site.url }}/images/teasers-1080x600/{{ page.image.teaser }}" class="img-responsive" alt="{{ page.image.alt }}" />
            </div>
        
            <a href="../{{ page.category }}" title="Click here to see more posts related to {{ page.category-title }}.">
                <h4>{{ page.category-title }}</h4>
            </a>
        </section>
        {% endif %}
        
        
        <!-- Twitter Section.  -->
        <section id="twitter">
            <div class="twitter-section">
                <div class="tweets">
                    <a class="twitter-timeline" data-lang="en" data-width="1000" data-height="500" data-theme="light" data-chrome="nofooter transparent noscrollbar" href="https://twitter.com/pareandflourish">Tweets by pareandflourish</a>
                </div>
                <a href="{{ site.links.twitter }}" target="_blank">
                    <h3>See more here! <i class="fa fa-twitter"></i></h3>
                </a>
            </div>
        </section>
        
        <!-- Ads? -->
        <section id="ad">
            <img src="http://placehold.it/1000x250" class="img-responsive">
            <h4>Your ad here?</h4>
        </section>
        
        <!-- Subscribe section here? -->
        <section id="subscribe">
            <img src="http://placehold.it/1000x250" class="img-responsive">
            <h4>Your ad here?</h4>
        </section>
    <!-- -->
    </div>
</section>