<!-- Subscribe Section -->
<section id="Subscribe">
    
    <div class="sub-bottom">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <header>
                            <h2>By subscribing you..</h2>
                            <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
                        </header>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <a href="#" class="">Subscribe</a>
                        <br>
                        <a href="#" class="">Learn More</a>
                    </div>

                </div>
                
            </div>

    </div>
    
</section>