%author-divider {
  content: "";
  line-height: 1em;
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid $gray;
  width: 15%;
}

.post-content {
  font-size: 1.35em;
  p {
    line-height: 1.75em;
  }
  li {
    line-height: 1.75em;
  }
  h1 {
    &.title {
      text-align: center;
    }
  }
  h2 {
    font-family: $primaryFont;
    line-height: 1em;
  }
  h2.alt {
    font-family: $primaryFont;
    font-size: 1.25em;
  }
  h3 {
    line-height: 1em;
    margin: $zeroMargin;
    &.author {
      margin-top: -10px;
      margin-bottom: 10px;
      text-align: center;
      color: $gray;
      font-size: 1em;
      line-height: 2em;
      &:before {
        @extend %author-divider;
      }
      &:after {
        @extend %author-divider;
      }
    }
    &.date {
      text-align: center;
      font-size: 1em;
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }
  hr.secondary {
    margin: 1em 0;
  }
  img {
    @include userSelect(none);
    max-width: 100%;
  }
  .get-ad {
    img {
      &:first-of-type {
        margin-bottom: 1rem;
      }
    }
  }
}