.side-panel {
	margin: 1em 0 1em 0;
	padding: $zeroPadding;
	background-color: $white;
	h3 {
		@include transition(.2s, ease, all);
		color: $white;
		text-align: center;
		background-color: $accent;
		margin: 0 0 1em 0;
		border-radius: $commonRadius;
		box-shadow: $commonShadow;
		&:hover,
		&:focus {
			background-color: $accentLighten;
			box-shadow: $commonShadowHover;
		}
	}
	p {
		text-align: left;
		margin: 1em;
	}
	a {
		text-decoration: none;
		text-align: left;
	}
	img {
		@include userSelect(none);
		border: $commonBorder;
		margin: 1em auto;
	}
	.twitter-section {
		margin: 1em 0 0 0;
		@media only screen and (max-width: 992px) {
			display: none;
		}
		.tweets {
			border: $commonBorder;
			border-radius: $commonRadius;
			box-shadow: $commonShadow;
		}
	}
}
