#banner {
  min-height: calc(100vh - 70px);
  display: flex;
  width: 100%;
  .primaryImage {
    width: 85%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: url("../../../images/header/newBannerHorizontal.jpg");
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    img {
      @include userSelect(none);
      border: none;
      box-shadow: none;
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .secondaryImage {
    @include userSelect(none);
    width: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: $black;
    color: $white;
    box-shadow: -5px 0px 10px -2px $gray;
    h1 {
      color: $white;
      margin: 5px;
      word-spacing: 20000px;
      font-size: 3.5em;
      line-height: 1.5em;
      font-family: $primaryFont;
    }
  }
  @media only screen and (max-width: 1200px) {
    .primaryImage {
      width: 100%;
    }
    .secondaryImage {
      display: none;
    }
  }
}
