#banner {
  min-height: calc(100vh - 70px);
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex;
  width: 100%;
  .primaryImage {
    width: 75%;
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: url("../../../images/header/newBannerHorizontal.jpg");
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    img {
      @include userSelect(none);
      border: none;
      box-shadow: none;
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .secondaryImage {
    @include userSelect(none);
    width: 25%;
    text-align: center;
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $accent;
    color: $white;
    box-shadow: -5px 0px 10px -2px $gray;
    h1 {
      color: $white;
      margin: 5px;
//      word-spacing: 20000px;
      font-size: 2.8em;
      line-height: 1em;
      font-family: $primaryFont;
      overflow: hidden;
      text-shadow: 2px 2px 4px $black;
    }
  }
  @media only screen and (max-width: 1200px) {
    .primaryImage {
      width: 100%;
    }
    .secondaryImage {
      display: none;
    }
  }
}
