section {
  &#startHere,
  &#latest-blogs,
  &#letsCollaborate,
  &#services,
  &#readingList,
  &#joinPareAndFlourish {
    min-height: 100vh;
    h1 {
      margin: 0;
      font-size: 4em;
      text-align: center;
      font-weight: normal;
      span {
        &.secondWord {
          color: $gray;
          font-weight: bolder;
          font-size: 1.05em;
        }
      }
    }
    p {
      &:first-of-type {
        text-align: center;
        font-size: 1.75em;
        color: $gray;
        max-width: 1024px;
        padding: 10px;
        margin: -5px auto;
      }
    }
  }
}

