section {
  &#startHere,
  &#latest-blogs,
  &#letsCollaborate,
  &#services,
  &#events,
  &#amReading,
  &#joinPareAndFlourish {
    padding: 7.5% 0;
    margin: 0;
    background: $white;
    h2 {
      margin: 0;
      font-size: 4em;
      text-align: center;
      font-weight: normal;
      span {
        &.secondWord {
          color: $accent;
          font-weight: bolder;
          font-size: 1.05em;
        }
      }
    }
    @media screen and (max-width: $medium) {
      h2 {
        font-size: 3em;
      }
    }
    p {
      &.firstParagraph {
        text-align: center;
        font-size: 1.65em;
        color: $gray;
        max-width: 768px;
        padding: 10px;
        margin: -5px auto 25px;
      }
    }
  }
}
