/***************************************************************************************************
global styles on landing page
***************************************************************************************************/

section {
  &#startHere,
  &#latest-blogs,
  &#letsCollaborate,
  &#roundtable,
  &#amReading,
  &#joinPareAndFlourish {
    padding: 7.5% 0;
    margin: 0;
    background: transparent;
    h2 {
      margin: 0;
      font-size: 4em;
      text-align: center;
      font-weight: normal;
      span {
        &.secondWord {
          color: $accent;
          font-weight: bolder;
          font-size: 1.05em;
        }
      }
    }
    @media screen and (max-width: $medium) {
      h2 {
        font-size: 3em;
      }
    }
    p {
      &.firstParagraph {
        text-align: center;
        font-size: 1.65em;
        color: $gray;
        max-width: 768px;
        padding: 10px;
        margin: -5px auto 25px;
      }
    }
  }
}

/***************************************************************************************************
events section on landing page
***************************************************************************************************/

.slick-slider {
  @include userSelect(none);
  position: relative;
  display: block;
  box-sizing: border-box;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  &:focus {
    outline: 0;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider {
  .slick-list, .slick-track {
    @include translate3D(0, 0, 0);
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  &:after, &:before {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}

.slick-loading {
  .slick-track {
    visibility: hidden;
  }
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] {
  .slick-slide {
    float: right;
  }
}

.slick-slide {
  img {
    display: block;
  }
  &.slick-loading {
    img {
      display: none;
    }
  }
  &.dragging {
    img {
      pointer-events: none;
    }
  }
}

.slick-initialized {
  .slick-slide {
    display: block;
  }
}

.slick-loading {
  .slick-slide {
    visibility: hidden;
  }
}

.slick-vertical {
  .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow {
  &.slick-hidden {
    display: none;
  }
}

.slick-dotted {
  &.slick-slider {
    margin-bottom: 1rem;
  }
}

.slick-dots {
  position: absolute;
  bottom: -2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  li {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin: 0 .5rem;
    cursor: pointer;
    button {
      display: block;
      width: 1rem;
      height: 1rem;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: 0;
      background: transparent;
      &:focus, &:hover {
        outline: 0;
        &:before {
          opacity: 1;
        }
      }
      &:before {
        font-size: 1.5rem;
        line-height: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        content: '•';
        text-align: center;
        opacity: .25;
        color: darken($accent, 50%);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active {
      button {
        &:before {
          opacity: .75;
          color: darken($accent, 50%);
        }
      }
    }
  }
}

#roundtable {
  .roundtableGallery {    
    .roundtableImage {
      padding: 11rem;
      border: 2px solid $white;
      margin: .5rem;
      text-align: center;
      background-size: cover !important;
      height: 75px;
      img {
        max-width: 100%;
      }
    }
    .slick-center {
      border: 2px solid $accent;
    }
    .slick-dots {
      display: flex;
      padding: 0;
      margin: 0 auto;
    }
  }
}

/***************************************************************************************************
reading list section on landing page
***************************************************************************************************/

#amReading {
  padding-bottom: 10%;
  .bookRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .bookTile {
      margin: 1rem;
      flex: 1 150px;
      display: flex;
      justify-content: center;
      a {
        border-bottom: none;
        background: transparent;
        img {
          @include rotate(-10deg);
          @include userSelect(none);
          @include transition(0.25s, ease-in-out, all);
          border: none;
          max-height: 200px;
          filter: grayscale(100%);
          &:hover {
            @include rotate(0deg);
            filter: grayscale(0%);
          }
        }
      }
    }
  }
}

/***************************************************************************************************
blog tiles section on landing page
***************************************************************************************************/

%tileOverlay {
  @include transition(0.4s, ease-out, all);
  @include transitionDelay(0.1s);
  height: 100%;
  color: $gray;
  position: absolute;
  top: 0;
}
%tileFlex {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
%tileCommon {
  background: transparent;
  border-radius: $commonRadius;
  overflow: hidden;
  margin-bottom: 20px;
  display: block;
  color: inherit;
  text-decoration: none;
  position: relative;
}
.blogTiles {
  a {
    border: none;
    &:hover {
      background: transparent;
    }
  }
  .outsideTile {
    @extend %tileFlex;
    background: $accentGradient;
    height: 400px;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    border-radius: $commonRadius;
    &.second {
      @include transition(0.15s, ease, box-shadow);
      cursor: pointer;
      box-shadow: $commonShadow;
      &:hover {
        box-shadow: $commonShadowHover;
      }
    }
    span {
      font-family: $primaryFont;
      color: $black;
      font-size: 2rem;
      text-align: center;
    }
    @media screen and (max-width: 767px) {
      height: 100%;
      margin-bottom: 20px;
    }
  }
}
.tile {
  @include transition(0.4s, ease-in-out, color);
  @extend %tileCommon;
  height: 400px;
  @media screen and (max-width: 767px) {
    height: 100%;
  }
  &:hover {
    h3 {
      color: $accent;
    }
    .tileOverlay {
      @extend %tileOverlay;
      width: 100%;
      background: $accentGradient;
      opacity: 0.95;
    }
  }
  .tileContent {
    padding: 0 10px;
    h3 {
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
  .tileImage {
    overflow: hidden;
    max-height: 100%;
    img {
      @include userSelect(none);
      border: 1px solid rgba($gray, .66);
      border-radius: 2px;
    }
  }
}
.tileOverlay {
  @extend %tileFlex;
  @extend %tileOverlay;
  align-content: center;
  flex-flow: wrap;
  width: 0%;
  background: $accent;
  opacity: 0;
  text-align: center;
  span {
    @include userSelect(none);
    white-space: nowrap;
    font-family: $primaryFont;
    text-align: center;
    max-height: 100%;
    border: 2px solid $gray;
    display: inline-block;
    padding: 10px 30px;
    border-radius: $commonRadius;
    color: $black;
    font-size: 16px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }  
}