/***************************************************************************************************
subscribe
***************************************************************************************************/

#mc_side {
	background: transparentize($gray, .97);
	color: $accent;
	padding: 1em;
	margin: 1em 0;
	text-align: center;
	border: $commonBorder;
	border-radius: $commonRadius;
	box-shadow: $commonShadow;
	p.title {
		font-size: 1.25em;
		font-family: $secondaryFont;
		color: $gray;
		margin: $zeroMargin;
		padding: 0 0 1rem 0;
	}
}

#mc_side input {
	border: $commonBorder;
	border-radius: $commonRadius;
	color: $gray;
	margin: auto;
	margin-bottom: 10px;
	padding: 8px 10px;
	width: 100%;
}

#mc_side input.email {
	background: $white;
}

#mc_side input.name {
	background: $white;
}

#mc_side input[type="submit"] {
	@include transition(.2s, ease, all);
	margin: auto;
	background: $accent;
	&:hover,
	&:focus {
		background-color: $accentLighten;
	}
	color: $white;
	cursor: pointer;
	width: 100%;
	padding: 8px 0;
}

#mc_side input[type="submit"]:hover {
	color: $white;
}

#mc_page {
  margin-top: 1em;
	background: transparentize($gray, .95);
	color: $accent;
	padding: 20px;
	text-align: center;
	border: $commonBorder;
	border-radius: $commonRadius;
	box-shadow: $commonShadow;
}

#mc_page input {
	border: $commonBorder;
	color: $gray;
	margin: auto;
	margin-bottom: 10px;
	padding: 8px 10px;
	width: 100%;
	border-radius: $commonRadius;
}

#mc_page input.email {
	background: $white;
}

#mc_page input.name {
	background: $white;
}

#mc_page input[type="submit"] {
	@include transition(.2s, ease, all);
	margin: auto;
	background: $accent;
	&:hover,
	&:focus {
		background-color: $accentLighten;
	}
	color: $white;
	cursor: pointer;
	width: 100%;
	padding: 8px 0;
}

#mc_page input[type="submit"]:hover {
	color: $white;
}

/***************************************************************************************************
subscription modal
***************************************************************************************************/

%modalBox {
  z-index: 8675314;
  max-width: 500px;
  margin: 2rem;
  box-shadow: 0 0 4px rgba($black, 0.75);
  border-radius: 4px;
  background: linear-gradient(45deg, $accent, $white);
  font-size: 1rem;
  display: none;
  top: 2rem;
  align-self: center;
  position: relative;
}

%close {
  content: 'close';
  position: absolute;
  font-size: 1rem;
  top: 10px;
  right: 10px;
  padding: 0.25rem;
  border: 1px solid rgba($white, 0.75);
  border-radius: 2px;
  background: $accent;
  color: $white;
  cursor: pointer;
  font-family: $secondaryFont;
}

%divider {
  border-bottom: 1px solid lighten($gray, 40%);
}

.darkness {
  display: none;
  z-index: 8675313;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($black, 0.25);
}

#signUpModal {
  @extend %modalBox;
  .signUpFlexContainer {
    display: flex;
    .signUpModalImage {
      @media screen and (min-width: 500px) {
        background: url('/assets/images/other/modal-image.jpg');
        background-position: right;
        background-size: cover;
        border-radius: 4px 0 0 4px;
        width: 250px;
      }
    }
    .signUpClose {
      &:after {
        @extend %close;
      }
    }
    .signUpModalContent {
        padding: 2rem;
      h2 {
        font-size: 1.5rem;
        text-align: center;
        font-family: $primaryFont;
      }
      .divider {
        @extend %divider;
      }
      p {
        font-family: $secondaryFont;
        text-align: left;
      }
      form {
        &#mc-embedded-subscribe-form {
          display: flex;
          flex-direction: column;
          margin-top: 15%;
          #mce-FNAME,
          #mce-LNAME,
          #mce-EMAIL {
            font-family: $secondaryFont;
            padding: .5rem;
            margin: .25rem;
            border-radius: 2px;
            border: 0;
            box-shadow: 0 0 2px rgba($black, 0.75);
            width: 100%;
          }
          #mc-embedded-subscribe {
            background: $accent;
            border: 1px solid rgba($white, 0.75);
            cursor: pointer;
            width: 100%;
            padding: .5rem;
            margin: .25rem;
          }
        }
      }
    }
  }
}

#thankYouModal {
  @extend %modalBox;
  padding: 2rem;
  h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .divider {
    @extend %divider;
  }
  p {
    text-align: left;
  }
  .thankYouClose {
    &:after {
      @extend %close;
    }
  }
}