.about-us {
  margin: $zeroMargin;
  padding: $zeroPadding;
	@include transition(.2s, ease, all);
  p {
    margin: 0 0 1em 0;
    padding: $zeroPadding;
    color: $gray;
  }
  h3 {
    margin: 1em 0 0 0;
    padding: $zeroPadding;
  }
}