.banner-front {
	visibility: hidden;
	text-align: center;
	color: $white;
	margin: $autoMargin;
	position: relative;
	@include transition(.2s, ease, all);
	.banner-overlay {
		top: 55%;
		right: 0%;
		bottom: 4%;
		left: 0%;
		position: absolute;
		@include transition(.2s, ease, all);
		@media (max-width: 758px) {
			display: none;
		}
		p {
			text-shadow: 1px 1px 4px $gray;
			color: $gray;
			font-size: 1.5em;
			@include transition(.2s, ease, all);
			@media (max-width: 1163px) {
				font-size: 1.4em;
			}
			@media (max-width: 1088px) {
				font-size: 1.3em;
			}
			@media (max-width: 1047px) {
				font-size: 1.2em;
			}
			@media (max-width: 933px) {
				font-size: 1.1em;
			}
			@media (max-width: 855px) {
				font-size: 1.05em;
			}
			@media (max-width: 816px) {
				font-size: .95em;
			}
			@media (max-width: 767px) {
				font-size: 0.9em;
			}
		}
		a {
			text-decoration: none;
			color: $white;
			font-size: 1.75em;
			font-family: $primaryFont
		}
		.sub-button {
			border: $commonBorder;
			background-color: $accent;
			margin: $autoMargin;
			@include transition(.2s, ease, all);
			&:hover,
			&:focus {
				background-color: $accentLighten;
			}
		}
	}
	.banner-under {
		background-color: transparentize($gray, 0.15);
		padding-top: 0;
		margin-top: 0;
		padding-bottom: 1em;
		border-radius: $commonRadius;
		box-shadow: $commonShadow;
		@include transition(.2s, ease, all);
		@media (min-width: 758px) {
			display: none;
		}
		p {
			color: darken($white, 35%);
			margin: $zeroMargin;
			font-size: 1.2em;
			@include transition(.2s, ease, all);
			@media (max-width: 580px) {
				font-size: 1.1em;
			}
			@media (max-width: 380px) {
				font-size: 1em;
			}
		}
		a {
			text-decoration: none;
			color: $white;
			font-size: 1.75em;
			font-family: $primaryFont
		}
		.sub-button {
			border: $commonBorder;
			background-color: $accent;
			margin: $autoMargin;
			@include transition(.2s, ease, all);
			&:hover,
			&:focus {
				background-color: $accentLighten;
			}
		}
	}
}
