.banner-front {
    background-image: url('../../images/banner.png');
    background-size: cover;
    background-attachment: fixed;
    @media (max-width: 767px) {
        background-attachment: scroll;
    }
    background-position: center;
    min-height: 100vh;
    text-align: center;
    color: $theme-white;
    .banner-content {
        h1 {
            margin-top: 25vh;
            margin-bottom: 5vh;
            color: $theme-white;
            font-size: 3.25em;
            font-weight: 800;
            text-transform: uppercase;
            @media (max-width: 767px) {
                font-size: 2.5em;
            }
        }
        p {
            color: $theme-white;
            font-size: 1.5em;
            @media (max-width: 767px) {
                font-size: 1.25em;
            }
        }
        .sub-button {
            margin-top: 25vh;
        }
    }
}