.container-fluid {
	padding: $zeroPadding;
}

body {
	background-color: $white;
	@include transition(.2s, ease, all);
}

img {
	margin: $autoMargin;
	border: $commonBorder;
	border-radius: $commonRadius;
	box-shadow: $commonShadow;
}

img.noImageStyling {
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.no-gutter>[class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

.temp-pag {
	text-align: center;
}

.mc-modal {
	z-index: 8675311 !important;
}

::selection {
	background: $accentLighten;
}
