.blog-tiles {
	min-height: 33.3vh;
	text-align: left;
	margin: 0 0 1em 0;
	background-color: $theme-white;
	-webkit-transition: 1s all ease;
	transition: 1s all ease;
	h1 {
		text-align: center;
	}
	p {
		text-align: center;
	}
	.blog-content {
		padding: 0;
		margin: 0;
		img {
			margin: 1em 0 1em 0;
			border: 1px dotted $theme-gray;
			&:hover,
			&:focus {
				border: 1px solid darken($theme-gray, 25%);
			}
		}
		h3 {
			font-family: 'Dancing Script', serif;
			color: darken($theme-gray, 25%);
			font-weight: normal;
			margin: 0 0 1em 0;
			&:hover,
			&:focus {
				font-weight: bold;
			}
		}
		h5 {
			color: lighten($theme-gray, 10%);
			margin: 0;
		}
		p {
			font-size: 1em;
			color: lighten($theme-gray, 25%);
			text-align: left;
			margin: 0;
		}
		p.date {
			margin: 0;
			padding: 0;
			color: $theme-gray;
			font-size: 1.05em;
		}
		p.author {
			margin: 0;
			padding: 0;
			color: $theme-gray;
			font-size: 1.05em;
		}
		a {
			text-decoration: none;
			text-align: left;
		}
	}
}

.blog-text {
	padding: 1em;
}