.blog-tiles {
    min-height: 33.3vh;
    text-align: left;
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    .blog-content {
        padding: 0;
        margin: 0;
        img {
            border: 1px dotted $theme-gray;
            border-radius: 5px;
            &:hover,
            &:focus {
                border: 1px solid darken($theme-gray, 35%);
            }
        }
        h3 {
            font-family: 'Dancing Script', serif;
            color: darken($theme-gray, 35%);
            font-weight: 600;
            &:hover,
            &:focus {
                color: darken($theme-red, 35%);
            }
        }
        h4 {
            color: darken($theme-gray, 35%);
            text-align: center;
            background-color: $theme-yellow;
            padding: 0;
        }
        p {
            color: darken($theme-gray, 35%);
            text-align: left;
            padding: inherit;
            line-height: inherit;
        }
        a {
            color: darken($theme-gray, 35%);
            text-decoration: none;
            text-align: left;
        }
    }
}

.post-box {
    margin: 15px 0 15px 0;
}