blockquote {
  border-left: 0.3em solid $colorPrimary;
  background-color: transparentize($colorGray, .95);
  position: relative;
  cite {
    font-size: 0.8em;
    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}