.feature-image {
    background-image: url('../../images/feature.png');
    background-attachment: fixed;
    background-size: cover;
    @media (max-width: 767px) {
        background-attachment: scroll;
    }
    min-height: 35vh;
    max-height: 55vh;
}

.gray-block {
    background-color: transparentize($theme-gray, .15);
    min-height: 15vh;
    max-height: 25vh;
    display: block;
}