.feature-image {
    background-image: url('../../images/bricks-and-flowers.png');
    background-attachment: fixed;
    background-size: 100%;
    @media (max-width: 767px) {
        background-attachment: scroll;
    }
    min-height: 33.3vh;
    max-height: 40vh;
}