.social-section {
	min-height: 7.5vh;
	background-color: transparentize($colorGray, 0.15);
	text-align: center;
	border-radius: $commonRadius;
	box-shadow: $commonShadow;
	p {
		color: darken($colorWhite, 35%);
		font-size: .9em;
	}
	p.alt {
		margin-top: 0;
		padding-top: 0;
	}
	a {
		color: darken($colorWhite, 35%);
		font-size: 1em;
		text-decoration: none;
		@include transition($shortTransition);
		&:hover {
			border-bottom: 0px;
			color: $colorWhite;
		}
	}
	a.alt {
		border-bottom: 1px dotted;
	}
	.footerLinks {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		p {
			padding: 0 5px;
		}
	}
	.twitter-color {
		color: $colorTwitter;
	}
	.facebook-color {
		color: $colorFacebook;
	}
	.github-color {
		color: $colorGithub;
	}
	.pinterest-color {
		color: $colorPinterest;
	}
	.paypal-color {
		color: $colorPaypal;
	}
	.instagram-color {
		color: $colorInstagram;
	}
	.rss-color {
		color: $colorRSS;
	}
}
