#footer {
	min-height: 7.5vh;
	text-align: center;
	padding-top: 2em;
//	background: url("../../images/other/footerBrickBackground.png");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	img {
		@include userSelect(none);
		border: 0;
		box-shadow: none;
		max-width: 200px;
	}
	p {
		font-size: .85em;
	}
	a {
		@include transition(.2s, ease, all);
		text-decoration: none;
		color: $black;
		border-bottom: 1px solid;
		&:hover {
			border-bottom: 2px solid;
		}
	}
	a.socialLinks {
		border-bottom: none;
		&:hover {
			border-bottom: none;
		}
	}
	.footerLinks {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		p {
			padding: 0 5px;
		}
	}
}
