.footer-section {
    background-image: url('../../../images/feature.png');
    background-size: cover;
    background-attachment: fixed;
    @media (max-width: 767px) {
        background-attachment: scroll;
    }
    line-height: 1em;
    text-align: center;
    h2 {
        color: $theme-white;
        font-size: 2em;
        font-weight: 800;
    }
    p {
        color: $theme-white;
        font-size: 1em;
    }
    a {
        font-size: .85em;    
        text-decoration: none;
        &:hover,
        &:focus {
            color: $theme-white;
            text-decoration: none;
        }
    }
}

.sub-preview {
    min-height: 10vh;
}

//// Social Media Section

.social-section {
    min-height: 7.5vh;
    background-color: transparentize($theme-gray, 0.15);
    p {
        color: darken($theme-white, 35%);
        font-size: .9em;
    }
    a {
        color: darken($theme-white, 35%);
        font-size: 1em;    
        text-decoration: none;
    }
    a.alt {
        border-bottom: 1px dotted;
            &:hover {
                border-bottom: 0px;
                color: $theme-white;
                transition: 1s;
            }
    }
}

.gray-block {
        background-color: transparentize($theme-gray, .15);
        min-height: 15vh;
        max-height: 25vh;
        display: block;
        vertical-align: middle;
    }
