hr.primary {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2.5px solid $theme-gray;
    margin: 0;
    padding: 0; 
}

hr.banner {
    display: block;
    border-top: 5px solid $theme-white;
}

.blank {
    height: 1vh;
    background-color: $theme-red;
}

.trans-grow {
  -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 1s  ease-out;
  width : 0%;
}