hr.primary {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2.5px solid $theme-navy;
    margin: 0;
    padding: 0; 
}

hr.secondary {
    display: block;
    border: none;
    color: white;
    margin: 0;
    padding: 0; 
    height: 1px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 425, from($theme-gray), to($theme-white));
}

hr.banner {
    display: block;
    border-top: 5px solid $theme-white;
}

.blank {
    height: 1vh;
    background-color: $theme-red;
}

.trans-grow {
  -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 1s  ease-out;
  width : 0%;
}