.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	hr {
		flex: 1;
		border: none;
		height: 2px;
		background: $colorBlack;
	}
	.loadMore {
		text-align: center;
		width: 100%;
		font-family: $primaryFont;
		background-color: $colorPrimary;
		color: $colorWhite;
		border: $commonBorder;
		border-radius: $commonRadius;
		box-shadow: $commonShadow;
		@include transition($shortTransition);
		&:hover{
			box-shadow: $commonShadowHover;
		}
	}
}
