.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	hr {
		flex: 1;
		border: none;
		height: 2px;
		background: $black;
	}
//	.loadMore {
//		text-align: center;
//		width: 100%;
//		font-family: $primaryFont;
//		background-color: $accent;
//		color: $white;
//		border: $commonBorder;
//		border-radius: $commonRadius;
//		box-shadow: $commonShadow;
//		@include transition(.2s, ease, all);
//		&:hover{
//			box-shadow: $commonShadowHover;
//		}
//	}
}
