.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	hr {
		flex: 1;
		border: none;
		height: 2px;
		background: black;
	}
	.loadMore {
		width: 100%;
		background-color: $theme-red;
		color: $theme-white;
		border: $commonBorder;
		border-radius: 2px;
		box-shadow: 2px 2px 4px $theme-gray;
		&:hover{
			box-shadow: 1px 1px 2px $theme-gray;
		}
	}
}
