@mixin transition($time, $type, $selector) {
  -webkit-transition: $time $type $selector;
  -moz-transition: $time $type $selector;
  -o-transition: $time $type $selector;
  transition: $time $type $selector;
}

@mixin transitionDelay($time) {
	-webkit-transition-delay: $time;
	transition-delay: $time;
}

@mixin userSelect ($arg) {
  -webkit-user-select: $arg;
  -moz-user-select: $arg;
  -ms-user-select: $arg;
  user-select: $arg;
}