.navbar-custom {
	margin-bottom: 0;
	border-bottom: 1px $gray;
	font-family: $primaryFont;
	background-color: $accent;
	z-index: 8675310;
	box-shadow: $commonShadow;
	border-radius: 0;
	border-bottom-left-radius: $commonRadius;
	border-bottom-right-radius: $commonRadius;
	.navbar-toggle {
		color: $white;
		background-color: $accent;
		font-size: 1em;
		border-radius: $commonRadius;
	}
	.navbar-brand {
		font-family: $primaryFont;
		font-size: 1.8em;
		text-decoration: none;
	}
	a {
		color: $white;
		background-color: $accent;
	}
	.nav li {
		a {
			@include transition(.2s, ease, all);
			color: $white;
			background-color: $accent;
			text-decoration: none;
			&:hover {
				outline: none;
				color: $accent;
				background-color: $white;
				border-radius: $commonRadius;
			}
		}
	}
}

@media (max-width: 992px) {
	.nav>li>a {
		padding-left: 0.5em;
		padding-right: 0.5em;
		border-radius: $commonRadius;
	}
}

ul.banner-social-buttons {
	margin-top: 0;
}

@media (max-width: 1200px) {
	ul.banner-social-buttons {
		margin-top: 15px;
	}
}

.navbar-custom .dropdown-menu {
	background-color: $accent;
}

.dropdown-menu>li>a {
	color: $white;
}
