.paginate {
	a {
		text-decoration: none;
	}
	.img {
		border: $commonBorder;
		margin: 1em 0 0 0;
		padding: $zeroPadding;
	}
	.arrow {
		color: $colorWhite;
		text-align: center;
		background-color: $colorPrimary;
		border: $commonBorder;
		margin: 1em 0;
		padding: .25em;
		border-radius: $commonRadius;
		box-shadow: $commonShadow;
		@include transition(.2s, ease, all);
		&:hover,
		&:focus {
			background-color: $colorPrimaryLighten;
			box-shadow: $commonShadowHover;
		}
	}
	.text {
		text-align: center;
		h3 {
			font-family: $primaryFont;
			color: darken($colorGray, 25%);
			margin: 0 0 1em 0;
		}
	}
}
