.paginate {
  a {
    text-decoration: none;
  }
  .img {
    border: $commonBorder;
    margin: 1em 0 0 0;
    padding: 0;
  }
  .arrow {
    color: $theme-white;
    text-align: center;
    background-color: $theme-red;
		border: $commonBorder;
    margin: 1em 0;
		padding: .25em;
    border-radius: 2px;
    box-shadow: 2px 2px 5px $theme-gray;
    &:hover,
    &:focus {
      background-color: lighten($theme-red, 5%);
      box-shadow: 1px 1px 2.5px $theme-gray;
    }
  }
  .text {
    text-align: center;
    h3 {
      font-family: $base-font-script;
      color: darken($theme-gray, 25%);
      font-weight: bold;
      margin: 0 0 1em 0;
    }
  }
}