#services {
  max-width: 100%;
  margin: 40px auto;
  font-family: 'Open Sans', Helvetica;
  .pricing-table {
    text-align: center;
    padding: 10px;
    padding-right: 0;
    margin: 0;
    .title,
    .pt-footer {
      font-size: 4rem;
      color: $white;
      text-transform: capitalize;
      padding: 1rem;
      position: relative;
      margin: 0;
    }
    .content {
      position: relative;
      color: $white;
      &:after,
      &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
    }
    .pt-footer {
      &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        top: 0;
      }
      &:before {
        top: 0;
      }
    }
    .content:after,
    .pt-footer:after {
      border-width: 10px;
      margin-left: -10px;
    }
    .price {
      font-family: $secondaryFont;
      color: $white;
      position: relative;
      font-size: 10rem;
      letter-spacing: 8px;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    .features {
      list-style-type: none;
      background: $white;
      text-align: center;
      color: $gray;
      padding: 15px;
      margin: 0;
    }
    a {
      color: $white;
      text-decoration: none;
      margin: 0;
      &:hover {
        text-decoration: none;
        .pt-footer {
          box-shadow: inset 0 0 4px $gray;
        }
      }
      .pt-footer {
        box-shadow: inset 0 0 2px $gray;
        cursor: pointer;
        padding: 1rem;
        margin: 0;
        font-size: 0.95rem;
        text-transform: capitalize;
      }
    }
    .personal {
      .title {
        background: darken($accent, 20%);
      }
      .content,
      .pt-footer {
        background: darken($accent, 10%);
      }
      .content:after {
        border-top-color: darken($accent, 10%);
      }
      .pt-footer:after {
        border-top-color: $white;
      }
    }
    .professional {
      .title {
        background: darken($accent, 25%);
      }
      .content,
      .pt-footer {
        background: darken($accent, 15%);
      }
      .content:after {
        border-top-color: darken($accent, 15%);
      }
      .pt-footer:after {
        border-top-color: $white;
      }
    }
    .business {
      .title {
        background: darken($accent, 30%);
      }
      .content,
      .pt-footer {
        background: darken($accent, 20%);
      }
      .content:after {
        border-top-color: darken($accent, 20%);
      }
      .pt-footer:after {
        border-top-color: $white;
      }
    }
  }
}
