.side-panel {
  margin: 1em 0 1em 0;
  padding: 0;
  background-color: $theme-white;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  h3 {
		color: $theme-white;
    text-align: center;
    background-color: $theme-red;
    margin: 0 0 1em 0;
    border-radius: 2px;
    box-shadow: 2px 2px 5px $theme-gray;
    &:hover,
    &:focus {
      background-color: lighten($theme-red, 15%);
      box-shadow: 1px 1px 2.5px $theme-gray;
    }
  }
  p {
    text-align: left;
    margin: 1em;
  }
  a {
    text-decoration: none;
    text-align: left;
  }
  img {
    border: $commonBorder;
    margin: auto 0;
  }
  .twitter-section {
    margin: 1em 0 0 0;
    @media only screen and (max-width: 992px) {
      display: none;
    }
    .tweets {
      border: $commonBorder;
      border-radius: 2px;
      box-shadow: 2px 2px 5px #020202;
    }
  }
}