.side-panel {
    margin: 1em 0 1em 0;
    padding: 0;
    background-color: $theme-white;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
    h3 {
        color: $theme-white;
        text-align: center;
        background-color: $theme-red;
        border-radius: 5px;
        margin: 0 0 1em 0;
        &:hover,
        &:focus {
            background-color: lighten($theme-red, 15%);
            transition: .5s;
        }
    }
    h4 {
        color: $theme-gray;
        text-align: center;
        background-color: $theme-yellow;
        border-radius: 5px;
        margin: 0 0 1em 0;
        &:hover,
        &:focus {
            background-color: lighten($theme-yellow, 10%);
            transition: .5s;
        }
    }
    p {
        color: lighten($theme-gray, 25%);
        text-align: left;
        margin: 1em;
    }
    a {
        text-decoration: none;
        text-align: left;
    }
    img {
        border: 2px solid $theme-gray;
        border-radius: 5px;
    }
    .subscribe-section {
        border: 2px solid $theme-gray;
        border-radius: 5px;
    }
    .twitter-section {
        @media only screen and (max-width: 992px) {
            display: none;
        }
        .tweets {
            border: 2px solid $theme-gray;
            border-radius: 5px;  
        }
    }
}

