.social-buttons {
	width: 100%;
	margin: $autoMargin;
	display: flex;
	justify-content: center;
	a {
		color: $gray;
	}
}

.twitter-color {
	color: $colorTwitter;
}

.facebook-color {
	color: $colorFacebook;
}

.github-color {
	color: $colorGithub;
}

.pinterest-color {
	color: $colorPinterest;
}

.paypal-color {
	color: $colorPaypal;
}

.instagram-color {
	color: $colorInstagram;
}

.rss-color {
	color: $colorRSS;
}
