#mc_side {
  background: transparentize($theme-gray, .95);
  color: $theme-red;
  padding: 1em;
  margin: 1em 0 1em 0;
  text-align: center;
  border: 2px solid $theme-gray;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #020202;
  p.title {
    font-size: 1.25em;
    font-family: $base-font-sans;
    color: $theme-gray;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  p.text {
    font-size: 1em;
    font-family: $base-font-sans;
    color: $theme-gray;
    margin: 0 0 1em 0;
    padding: 0;
  }
	img {
		margin-bottom: 1em;
	}
}

#mc_side input {
  border: 1px solid $theme-gray;
  border-radius: 2px;
  color: $theme-gray;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 100%;
}

#mc_side input.email {
  background: $theme-white
}

#mc_side input.name {
  background: $theme-white
}

#mc_side input[type="submit"] {
  margin: auto;
  background: $theme-red;
  &:hover,
  &:focus {
    background-color: lighten($theme-red, 15%);
    transition: .5s;
  }
  color: $theme-white;
  cursor: pointer;
  width: 100%;
  padding: 8px 0;
}

#mc_side input[type="submit"]:hover {
  color: $theme-white
}

#mc_page {
  background: transparentize($theme-gray, .95);
  color: $theme-red;
  padding: 20px;
  text-align: center;
  border: 2px solid $theme-gray;
  border-radius: 2px;
  box-shadow: 2px 2px 5px $theme-gray;
}

#mc_page input {
  border: 1px solid $theme-gray;
  color: $theme-gray;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 100%;
  border-radius: 2px;
}

#mc_page input.email {
  background: $theme-white
}

#mc_page input.name {
  background: $theme-white
}

#mc_page input[type="submit"] {
  margin: auto;
  background: $theme-red;
  &:hover,
  &:focus {
    background-color: lighten($theme-red, 15%);
    transition: .5s;
  }
  color: $theme-white;
  cursor: pointer;
  width: 100%;
  padding: 8px 0;
}

#mc_page input[type="submit"]:hover {
  color: $theme-white
}