#mc_side {
	background: transparentize($gray, .95);
	color: $accent;
	padding: 1em;
	margin: 1em 0;
	text-align: center;
	border: $commonBorder;
	border-radius: $commonRadius;
	box-shadow: $commonShadow;
	p.title {
		font-size: 1.25em;
		font-family: $secondaryFont;
		color: $gray;
		margin: $zeroMargin;
		padding: $zeroPadding;
	}
	p.text {
		font-size: 1em;
		font-family: $secondaryFont;
		color: $gray;
		margin: 0 0 1em 0;
		padding: $zeroPadding;
	}
}

#mc_side input {
	border: $commonBorder;
	border-radius: $commonRadius;
	color: $gray;
	margin: auto;
	margin-bottom: 10px;
	padding: 8px 10px;
	width: 100%;
}

#mc_side input.email {
	background: $white;
}

#mc_side input.name {
	background: $white;
}

#mc_side input[type="submit"] {
	margin: auto;
	background: $accent;
	@include transition(.2s, ease, all);
	&:hover,
	&:focus {
		background-color: $accentLighten;
	}
	color: $white;
	cursor: pointer;
	width: 100%;
	padding: 8px 0;
}

#mc_side input[type="submit"]:hover {
	color: $white;
}

#mc_page {
	background: transparentize($gray, .95);
	color: $accent;
	padding: 20px;
	text-align: center;
	border: $commonBorder;
	border-radius: $commonRadius;
	box-shadow: $commonShadow;
}

#mc_page input {
	border: $commonBorder;
	color: $gray;
	margin: auto;
	margin-bottom: 10px;
	padding: 8px 10px;
	width: 100%;
	border-radius: $commonRadius;
}

#mc_page input.email {
	background: $white;
}

#mc_page input.name {
	background: $white;
}

#mc_page input[type="submit"] {
	margin: auto;
	background: $accent;
	@include transition(.2s, ease, all);
	&:hover,
	&:focus {
		background-color: $accentLighten;
	}
	color: $white;
	cursor: pointer;
	width: 100%;
	padding: 8px 0;
}

#mc_page input[type="submit"]:hover {
	color: $white;
}
