h1,
h2,
h3,
h4,
h5,
h6 {
	@include transition($shortTransition);
	font-family: $primaryFont;
	color: darken($colorGray, 25%);
	padding: .25em 0;
	margin: .25em 0;
}

p {
	@include transition($shortTransition);
	font-family: $secondaryFont;
	color: $colorPrimaryLighten;
	padding: .25em 0;
	margin: .25em 0;
}

p.script {
	font-family: $primaryFont;
	display: inline;
	font-size: 1.5em;
}

p.script-inline {
	font-family: $secondaryFont;
	display: inline;
}

p.indent {
	margin-left: 2.5em;
}

a {
	color: $colorWhite;
	text-decoration: solid;
	padding: $zeroPadding;
	margin: $zeroMargin;
}

li {
	color: $colorGray;
	font-family: $secondaryFont;
}

li.extra-indent {
	margin-left: 2.5em;
}

ul.indent {
	margin-left: 2.5em;
}
