h1,
h2,
h3,
h4,
h5,
h6 {
	@include transition(.2s, ease, all);
	font-family: $primaryFont;
	color: darken($gray, 25%);
	padding: .25em 0;
	margin: .25em 0;
}

p {
	@include transition(.2s, ease, all);
	font-family: $secondaryFont;
	color: $black;
	padding: .25em 0;
	margin: .25em 0;
}

p.script {
	font-family: $primaryFont;
	display: inline;
	font-size: 1.5em;
}

p.script-inline {
	font-family: $secondaryFont;
	display: inline;
}

p.indent {
	margin-left: 2.5em;
}

p.indentMore {
	margin-left: 3.5em;
}

a {
	color: $white;
	text-decoration: solid;
	padding: $zeroPadding;
	margin: $zeroMargin;
}

li {
	color: $gray;
	font-family: $secondaryFont;
}

li.extra-indent {
	margin-left: 2.5em;
}

ul.indent {
	margin-left: 2.5em;
}

.boldText {
	font-weight: bold;
}

.underlineText {
	text-decoration: underline;
}

.italicizeText {
	font-style: italic; 
}