h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-script;
  color: darken($theme-gray, 25%);
	font-weight: normal;
  padding: .25em 0;
  margin: .25em 0;
}

p {
  color: lighten($theme-gray, 25%);
  font-family: $base-font-sans;
  padding: .25em 0;
  margin: .25em 0;
}

p.script {
  font-family: $base-font-script;
  display: inline;
  font-weight: bold;
  font-size: 1.5em;
}

p.script-inline {
  font-family: $base-font-sans;
  display: inline;
}

p.indent {
  margin-left: 2.5em;
}

a {
  color: $theme-white;
  text-decoration: solid underline;
  padding: 0;
  margin: 0;
}

li {
  color: $theme-gray;
  font-family: $base-font-sans;
}

li.extra-indent {
  margin-left: 2.5em;
}

ul.indent {
	margin-left: 2.5em;
}