// Theme Colors
$theme-red: #894227;

$theme-gold: #CD9002;

$theme-yellow: #F0C567;

$theme-navy: #00424A;

// Neutral Colors

$theme-white: #fdfdfd;

$theme-gray: #2e3842;

$theme-black: #000000;

// Social Media Colors

$twitter-color: #00aced;

$facebook-color: #3b5998;

$github-color: #171516;

$linkedin-color: #4875B4;