// Website Colors
$colorPrimary: #000;
$colorWhite: #fff;
$colorGray: #080808;
$colorBlack: #000;

// Transition Colors
$colorPrimaryLighten: lighten($colorPrimary, 15%);

// Social Media Colors
$colorTwitter: #00aced;
$colorGithub: #171516;
$colorPinterest: #bd081c;
$colorInstagram: #c13584;
$colorPaypal: #009cde;
$colorFacebook: #3b5998;
$colorRSS: #f26522;

// Borders
$commonBorder: 2px solid $colorGray;
$commonRadius: 2px;

// Box Shadows
$commonShadow: 2px 2px 4px $colorGray;
$commonShadowHover: 1px 1px 2px $colorGray;

// Font for Headings
$primaryFont: "Playfair Display SC", serif;

// Font for Everything Else
$secondaryFont: "Open Sans", sans-serif;

// Margins
$zeroMargin: 0;
$autoMargin: 0 auto;

// Paddings
$zeroPadding: 0;
