// Website Colors
$accent: #f44;
$white: #fff;
$gray: #080808;
$black: #000;

// Transition Colors
$accentLighten: lighten($accent, 15%);

// Social Media Colors
$colorTwitter: #00aced;
$colorGithub: #171516;
$colorPinterest: #bd081c;
$colorInstagram: #c13584;
$colorPaypal: #009cde;
$colorFacebook: #3b5998;
$colorRSS: #f26522;

// Borders
$commonBorder: 2px solid $gray;
$commonRadius: 2px;

// Box Shadows
$commonShadow: 2px 2px 4px $gray;
$commonShadowHover: 1px 1px 2px $gray;

// Font for Headings
$primaryFont: "Playfair Display SC", serif;

// Font for Everything Else
$secondaryFont: "Open Sans", sans-serif;

// Margins
$zeroMargin: 0;
$autoMargin: 0 auto;

// Paddings
$zeroPadding: 0;
