// Website Colors
$theme-red: #000;
$theme-yellow: #dcd7c4;
$theme-white: #fff;
$theme-gray: #020202;
$theme-black: #000000;

// Social Media Colors
$twitter-color: #00aced;
$github-color: #171516;
$pinterest-color: #bd081c;
$instagram-color: #c13584;
$paypal-color: #009cde;
$facebook-color: #3b5998;
$linkedin-color: #4875B4;
$rss-color: #f26522;