.collaborateList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	a {
		display: flex;
		justify-content: center;
		flex-direction: column;
		border-bottom: none;
		background: transparent;
		img {
			@include userSelect(none);
			max-height: 100px;
			border: 0;
			box-shadow: none;
			margin: 1rem;
		}
		&:hover {
			background: transparent;
		}
	}
}
