---
layout: default
---

<!-- This layout is the "homepage" for bonus material blog posts. This is basically the same as the homepage (www.pareandflourish.com) except it only contains the tiles catagorized as bonus material. -->

{% include feature-image.html %} <!-- Feature image -->

<div class="container"> <!-- Page container (bootstrap). -->

	<div class="row">

	<div class="col-lg-8 col-md-8 col-sm-12">
	
		<div class="medium-tb">

		<div class="post-content"> <!-- Bonus material content (title, description, etc..). -->
			{{ content }}
		</div>

		{% include bonus-material.html %} <!-- Blog tiles relating to bonus material (/bonus-material/). -->

		<p style="text-align:center">Blogs soon to come!</p> <!-- Text that appears below the blog tiles. -->

		</div>

		<hr class="primary">
		
	</div>

	<div class="col-lg-4 col-md-4 col-sm-12"> <!-- Side Panel with subscribe form. -->
		<div class="side-panel">
			{% include subscribe.html %}
		</div>
			{% include side-panel.html %}
	</div>

	</div>
    
</div>