--- 
layout: default 
---

<header id="subPageHeader">

  {% include featureImage.html %}
  {% include newNavbar.html %}
  {% include subscriptionModal.html %}

</header>

<div class="container">
	
	<div class="row">
    {% if page.path contains '_posts' %}
		<div class="col-lg-8 col-md-8 col-sm-12">
    {% else %}
    <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12">
    {% endif %}
			<div class="post-content">
        
        {% if page.path contains '_posts' %}
          <h1 class="title">{{page.title}}</h1>
        {% else %}
          <h1>{{page.title}}</h1>
        {% endif %}
        
        {% if page.author %}
          <h3 class="author">{{page.author}}</h3>
        {% endif %}
        
        {% if page.date %}
          <h3 class="date">{{page.date | date: "%B %d, %Y"}}</h3>
        {% endif %}
        
        {% if page.path contains '_posts' %}
        <div class="shareaholic-canvas" data-app="share_buttons" data-app-id="27414158"></div>
        {% endif %}
        
        {{content}}
        
      </div>
      
      {% if page.path contains '_posts' %}
      <div class="row">
        <div class="col-xs-12">
          <a href="/events">
            <img class="img-fluid img-responsive" src="/images/other/flourish-roundtable-advertisement.jpg" alt="Image advertisement for flourish roundtable events">
          </a>
        </div>
      </div>
      {% endif %}

			{% include nextOrPreviousPost.html %} 
			
			<!-- facebook comments -->
			{% if page.path contains '_posts' %}
        <div id="fb-root"></div>
        <div class="fb-comments" data-href="{{site.url}}{{page.url}}" data-numposts="5" data-width="100%"></div>
			{% endif %}

		</div>

    {% if page.path contains '_posts' %}
		<div class="col-lg-4 col-md-4 col-sm-12">
			{% include sidePanel.html %}
    </div>
    {% endif %}

	</div>

</div>
