<!DOCTYPE html>

<!-- This default layout basically acts as the "container" around everything for the site. By that container i'm not talking about bootstrap, but instead the opening and closing html, head, body tags. This layout will be used as the layout for other layouts. -->

<html lang="en"> <!-- English language -->

{% include head.html %}

	<body id="page-top" data-target=".navbar-fixed-top"> <!-- Opening body tag. -->

		<div class="container-fluid"> <!-- Fluid container (bootstrap). -->

			{{ content }} <!-- Website content. -->
		
			{% include footer.html %} <!-- Footer section. Containing copyright, links to social media, email, site/logo designers, affiliate disclosure. -->

		</div>

		{% include scripts.html %}
	</body>

</html>