--- layout: default ---
<!-- Join pare and flourish page instead of content page in order to eliminate subscription forms in the side panel. Another way to do this (better way...) is using liquid tags. For example {% if page.url == "/" %} {% endif %} whereas the url could be the www.pareandflourish.com/join-pare-and-flourish/ -->{% include feature-image.html %}
<!-- Include feature image (header). -->
<div class="container">
  <!-- Page container (bootstrap). -->
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="medium-tb">
        <div class="post-content"> {{ content }}
          <!-- Page content (/join-pare-and-flourish/). -->
        </div> {% if page.comments %}
        <!-- Adds comments to page. Comments are powered by disqus. -->
        <div id="disqus_thread"></div>
        <script>
          (function () {
            var d = document
              , s = d.createElement('script');
            s.src = '//pare-and-flourish.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> {% endif %} </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <!-- Side panel without subscribe form. -->{% include side-panel.html %} </div>
  </div>
</div>