---
layout: default
---

{% include feature-image.html %}

<div class="container">
    
    <div class="row">
        <section id="google-ad">
            <div class="ad-container">
                <img src="http://placehold.it/2000x125" class="img-responsive">
                <h4>Google AdSense ad here?</h4>
            </div>
        </section>
    </div>
    
    <div class="row">
    
    <div class="col-lg-8 col-md-8 col-sm-12">
        
        <div class="medium-tb">
            <div class="post-content">

                {{ content }}

                {% include personal-development.html %}

                <p style="text-align:center">More blogs soon to come!</p>

            </div>
        </div>

        <hr class="primary">
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-12">
        {% include side-panel.html %}
    </div>
    
    </div>
    
</div>