---
layout: default
---

{% include feature-image.html %}

<div class="container">
    
    <div class="row">
        <section id="google-ad">
        </section>
    </div>
    
    <div class="row">
        
    <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="medium-tb">
            <div class="post-content">
                
                <section id="google-ad-top">
                    <div class="ad-container-top">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- Pare and Flourish - Top Ad -->
                        <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-5907828496259396"
                        data-ad-slot="2278578863"
                        data-ad-format="auto"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </section>

                {{ content }}

                {% include professional-development.html %}

                <p style="text-align:center">More blogs soon to come!</p>

            </div>
        </div>
    
        <hr class="primary">
    </div>
        
    <div class="col-lg-4 col-md-4 col-sm-12">
        {% include side-panel.html %}
    </div>
    
    </div>
    
</div>