{% if paginator.page %} 
  {% assign offset = paginator.page | minus:1 | times:paginator.per_page %} 
  {% assign currentPage = paginator.page %} 
{% else %} 
  {% assign offset = 0 %} 
  {% assign currentPage = 1 %} 
{% endif %}


    
<section class="blogTiles">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="outsideTile">
          <span>“Each time a woman stands up for herself, without know it possibly, without claiming it, she stands up for all women.”</span>
        </div>
      </div>
      <div class="blog-tiles">
        <div id="blogContainer" class="postContainer" data-page="{{currentPage}}" data-totalPages="{{paginator.total_pages}}">
          {% for post in paginator.posts %}
          <article class="post list">
            <div class="col-md-3 col-sm-4">
              <a href="{{post.url}}" class="tile">
                <div class="tileImage">
                  <img class="img-responsive img-fluid" src="{{site.url}}/images/teasers-1080x600/{{post.image.teaser}}" alt="" data-pin-nopin="true">
                </div>
                <div class="tileContent">
                  <h3>{{post.title}}</h3>
                  <p>{{post.excerpt | strip_html | truncatewords: 25}}</p>
                </div>
                <div class="tileOverlay">
                  <span>Read More</span>
                </div>
              </a>
            </div>
          </article>
          {% endfor %}
        </div>
      </div>

      {% assign postCount = site.posts | size %} 
      {% assign postsCovered = site.paginate | plus:offset %}

      {% if postsCovered < postCount %} 

        <div class="col-md-3 col-sm-4">
          <div class="outsideTile second loadMore">
            <span>Click here to load more blogs!</span>
          </div>
        </div>

      {% endif %}

    </div>
  </div>
</section>