<div class="container">
  <div class="bookRow">
    <div class="bookTile">
      <a href="http://amzn.to/2zZoAZg" target="_blank">
        <img src="/assets/images/other/amReading/fearlessAndFree.jpg" alt="Fearless and Free">
      </a>
    </div>
    <div class="bookTile">
      <a href="http://amzn.to/2gmphGk" target="_blank">
        <img src="/assets/images/other/amReading/theHappinessAdvantage.jpg" alt="The Happiness Advantage">
      </a>
    </div>
    <div class="bookTile">
      <a href="http://amzn.to/2t2eDpL" target="_blank">
        <img src="/assets/images/other/amReading/youAreABadass.jpg" alt="You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life">
      </a>
    </div>
    <div class="bookTile">
      <a href="http://amzn.to/2tVbjjk" target="_blank">
        <img src="/assets/images/other/amReading/theNewRulesOfWork.jpg" alt="The New Rules of Work: The Modern Playbook for Navigating Your Career">
      </a>
    </div>
    <div class="bookTile">
      <a href="http://amzn.to/2ulbjdu" target="_blank">
        <img src="/assets/images/other/amReading/theBigLife.jpg" alt="The Big Life: Embrace the Mess, Work Your Side Hustle, Find a Monumental Relationship, and Become the Badass Babe You Were Meant to Be">
      </a>
    </div>
    <div class="bookTile">
      <a href="http://amzn.to/2vozHaR" target="_blank">
        <img src="/assets/images/other/amReading/theConfidenceCode.jpg" alt="The Confidence Code: The Science and Art of Self-Assurance---What Women Should Know">
      </a>
    </div>
  </div>
</div>
