<section class="amReading">
  <div class="container">
    <div class="row">
      <div class="bookRow">
        <div class="bookTile">
          <img src="{{site.url}}/images/other/amReading/youAreABadass.jpg" alt="book one" data-pin-nopin="true">
        </div>
        <div class="bookTile">
          <img src="{{site.url}}/images/other/amReading/theNewRulesOfWork.jpg" alt="book two" data-pin-nopin="true">
        </div>
        <div class="bookTile">
          <img src="{{site.url}}/images/other/amReading/theBigLife.jpg" alt="book three" data-pin-nopin="true">
        </div>
        <div class="bookTile">
          <img src="{{site.url}}/images/other/amReading/quiet.jpg" alt="book four" data-pin-nopin="true">
        </div>
        <div class="bookTile">
          <img src="{{site.url}}/images/other/amReading/nonconformistsMoveTheWorld.jpg" alt="book five" data-pin-nopin="true">
        </div>
      </div>
    </div>
  </div>
</section>