<div class="container">
  <div class="row">
    <div class="bookRow">
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="bookTile">
          <a href="http://amzn.to/2t2eDpL" target="_blank">
            <img src="{{site.url}}/images/other/amReading/youAreABadass.jpg" alt="You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life" data-pin-nopin="true">
          </a>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="bookTile">
          <a href="http://amzn.to/2tVbjjk" target="_blank">
            <img src="{{site.url}}/images/other/amReading/theNewRulesOfWork.jpg" alt="The New Rules of Work: The Modern Playbook for Navigating Your Career" data-pin-nopin="true">
          </a>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="bookTile">
          <a href="http://amzn.to/2ulbjdu" target="_blank">
            <img src="{{site.url}}/images/other/amReading/theBigLife.jpg" alt="The Big Life: Embrace the Mess, Work Your Side Hustle, Find a Monumental Relationship, and Become the Badass Babe You Were Meant to Be" data-pin-nopin="true">
          </a>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="bookTile">
          <a href="http://amzn.to/2tr1hTm" target="_blank">
            <img src="{{site.url}}/images/other/amReading/quiet.jpg" alt="Quiet: The Power of Introverts in a World That Can't Stop Talking" data-pin-nopin="true">
          </a>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="bookTile">
          <a href="http://amzn.to/2ulx6BJ" target="_blank">
            <img src="{{site.url}}/images/other/amReading/nonconformistsMoveTheWorld.jpg" alt="Originals: How Non-Conformists Move the World" data-pin-nopin="true">
          </a>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="bookTile">
          <a href="http://amzn.to/2vozHaR" target="_blank">
            <img src="{{site.url}}/images/other/amReading/theConfidenceCode.jpg" alt="The Confidence Code: The Science and Art of Self-Assurance---What Women Should Know" data-pin-nopin="true">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
