<div class="servicesIcons">
  <div class="row">
    <div class="col-md-4">
      <div class="servicesIcons">
        <div class="icon4">
          <svg id="icon4" viewBox="0 0 140 140">
      <g id="line1" class="line1">
        <rect x="39" y="45" fill="#000" width="9" height="2"/>
        <rect x="70" y="49" fill="#CCCCCC" width="11" height="2"/>
        <rect x="83" y="49" fill="#CCCCCC" width="16" height="2"/>
        <rect x="43" y="49" fill="#CCCCCC" width="25" height="2"/>
      </g>
      <g id="line2" class="line2">
        <rect x="90" y="53" fill="#CCCCCC" width="14" height="2"/>
        <rect x="63" y="53" fill="#CCCCCC" width="25" height="2"/>
        <rect x="43" y="53" fill="#CCCCCC" width="18" height="2"/>
        <rect x="57" y="57" fill="#CCCCCC" width="22" height="2"/>
        <rect x="43" y="57" fill="#CCCCCC" width="12" height="2"/>
      </g>
      <g id="line3" class="line3">
        <rect x="39" y="61" fill="#000" width="9" height="2"/>
        <rect x="39" y="65" fill="#000" width="15" height="2"/>
      </g>
      <g id="line4" class="line4">
        <rect x="46" y="69" fill="#CCCCCC" width="10" height="2"/>
        <rect x="58" y="69" fill="#CCCCCC" width="43" height="2"/>
        <rect x="103" y="69" fill="#CCCCCC" width="9" height="2"/>
        <rect x="78" y="73" fill="#CCCCCC" width="38" height="2"/>
        <rect x="52" y="73" fill="#CCCCCC" width="24" height="2"/>
      </g>
      <g id="line5" class="line5">
        <rect x="103" y="81" fill="#CCCCCC" width="13" height="2"/>
        <rect x="76" y="81" fill="#CCCCCC" width="25" height="2"/>
        <rect x="56" y="81" fill="#CCCCCC" width="18" height="2"/>
        <rect x="89" y="77" fill="#CCCCCC" width="10" height="2"/>
        <rect x="61" y="77" fill="#CCCCCC" width="26" height="2"/>
        <rect x="52" y="77" fill="#CCCCCC" width="7" height="2"/>
      </g>
      <g id="line6" class="line6">
        <rect x="46" y="89" fill="#CCCCCC" width="11" height="2"/>
        <rect x="52" y="85" fill="#CCCCCC" width="10" height="2"/>
        <rect x="64" y="85" fill="#CCCCCC" width="19" height="2"/>
        <rect x="85" y="85" fill="#CCCCCC" width="19" height="2"/>
        <rect x="59" y="89" fill="#CCCCCC" width="6" height="2"/>
      </g>
      <g id="computer">
        <path fill="#CCCCCC" d="M128,108H12V26h116V108z M14,106h112V28H14V106z"/>
        <path fill="#CCCCCC" d="M122,102H18V32h104V102z M20,100h100V34H20V100z"/>
        <rect x="20" y="34" fill="#000" width="100" height="7"/>
        <path fill="#CCCCCC" d="M138,115H2v-9h136V115z M4,113h132v-5H4V113z"/>
        <circle fill="#FFFFFF" cx="24.5" cy="37.5" r="1.5"/>
        <circle fill="#FFFFFF" cx="29.5" cy="37.5" r="1.5"/>
        <circle fill="#FFFFFF" cx="34.5" cy="37.5" r="1.5"/>
        <rect x="20" y="41" fill="#F2F2F2" width="15" height="59"/>
        <path fill="#CCCCCC" d="M84,111H56v-5h28V111z M58,109h24v-1H58V109z"/>
        <circle fill="#CCCCCC" cx="72" cy="30" r="1"/>
      </g>
    </svg>
        </div>
        <h2>Resume Review</h2>
        <h3>South Park</h3>
        <p>I'm goin' down to South Park, gonna have myself a time.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="servicesIcons">
        <div class="icon5">
          <svg id="icon5" viewBox="0 0 140 140">
      <g id="back">
        <polygon fill="#F2F2F2" points="54,66 54,60 32,60 32,111 35,117 101,117 101,66 	"/>
        <path fill="#CCCCCC" d="M102,118H34.4l-3.4-6.8V59h24v6h47V118z M35.6,116H100V67H53v-6H33v49.8L35.6,116z"/>
      </g>
      <g id="file1" class="file1">
        <polygon fill="#FFFFFF" stroke="#000" stroke-width="2" stroke-miterlimit="10" points="78,83 59,83 59,57 71,57 78,65 	"/>
        <polygon fill="#FFFFFF" points="70,65 70,57 71.6,57 78,63.4 78,65"/>
        <path fill="#000" d="M71.2,58l5.8,5.8V64h-6v-6H71.2 M72,56h-3v10h10v-3L72,56L72,56z"/>
      </g>
      <g id="file2" class="file2">
        <polygon fill="#FFFFFF" stroke="#000" stroke-width="2" stroke-miterlimit="10" points="99,57 80,57 80,31 92,31 99,39 	"/>
        <polygon fill="#FFFFFF" points="91,39 91,31 92.6,31 99,37.4 99,39"/>
        <path fill="#000" d="M92.2,32l5.8,5.8V38h-6v-6H92.2 M93,30h-3v10h10v-3L93,30L93,30z"/>
      </g>
      <g id="file3" class="file3">
        <polygon fill="#FFFFFF" stroke="#000" stroke-width="2" stroke-miterlimit="10" points="70,40 51,40 51,14 63,14 70,22 	"/>
        <polygon fill="#FFFFFF" points="62,22 62,14 63.6,14 70,20.4 70,22"/>
        <path fill="#000" d="M63.2,15l5.8,5.8V21h-6v-6H63.2 M64,13h-3v10h10v-3L64,13L64,13z"/>
      </g>
      <g id="front">
        <polygon fill="#FFFFFF" points="104,117 45,117 48,111 48,73.4 107,73 107,111 	"/>
        <rect x="44" y="125" fill="#CCCCCC" width="4" height="2"/>
        <rect x="38" y="125" fill="#CCCCCC" width="4" height="2"/>
        <rect x="98" y="125" fill="#CCCCCC" width="4" height="2"/>
        <rect x="92" y="125" fill="#CCCCCC" width="4" height="2"/>
        <path fill="#CCCCCC" d="M47,72l0,38.8l-4,7.2h26v7H50v2h40v-2H71v-7h33.6l3.4-6.8V72H47z M106,110.8l-2.6,5.2H46.6l2.4-5V74l57,0
                                V110.8z"/>
      </g>
    </svg>
        </div>
        <h2>Cover Letter Review</h2>
        <h3>South Park</h3>
        <p>Friendly faces everywhere, humble folks without temptation!</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="servicesIcons">
        <div class="icon1">
          <svg id="icon1" viewBox="0 0 140 140">
      <path id="box" fill="#CCCCCC" d="M71,31v-6h-2v6H20v4h4v61h21v3h24v4.4l-17.5,9.7l1,1.7l17.5-9.7l17.5,9.7l1-1.7L71,103.4V99h24v-3
                                       h21V35h4v-4H71z M93,97H71h-2H47v-4h46V97z M114,94H95v-3H45v3H26V35h88V94z"/>
      <g class="section3">
        <polygon fill="#CCCCCC" points="74,80 74,78 76,78 76,76 74,76 74,74 76,74 76,72 74,72 74,70 76,70 76,68 74,68 74,66 76,66 
                                        76,64 74,64 74,62 76,62 76,60 74,60 74,57 72,57 72,82 110,82 110,80" class="section3"/>
        <path fill="#CCCCCC" d="M84,72h-6v7h6V72z M82,77h-2v-3h2V77z" class="section3"/>
        <path fill="#CCCCCC" d="M92,67h-6v12h6V67z M90,77h-2v-8h2V77z" class="section3"/>
        <path fill="#CCCCCC" d="M100,65h-6v14h6V65z M98,77h-2V67h2V77z" class="section3"/>
        <path fill="#CCCCCC" d="M108,59h-6v20h6V59z M106,77h-2V61h2V77z" class="section3"/>
      </g>
      <g class="section2">
        <rect x="30" y="80" fill="#000" width="36" height="2" class="section2"/>
        <rect x="30" y="72" fill="#000" width="16" height="2" class="section2"/>
        <rect x="30" y="76" fill="#000" width="16" height="2" class="section2"/>
        <rect x="50" y="72" fill="#000" width="16" height="2" class="section2"/>
        <rect x="50" y="76" fill="#000" width="16" height="2" class="section2"/>
        <path fill="#000" d="M30,53v17h36V53H30z M64,68H32V55h32V68z" class="section2"/>
      </g>
      <g class="section1">
        <rect x="30" y="39" fill="#CCCCCC" width="67" height="2" class="section1"/>
        <rect x="30" y="43" fill="#CCCCCC" width="45" height="2" class="section1"/>
        <rect x="30" y="47" fill="#CCCCCC" width="49" height="2" class="section1"/>
      </g>
      <polygon id="stick" class="stick" fill="#000" points="89.5,99.1 88.6,104.2 83.6,105 49,65.8 50.5,64.4 "/>
    </svg>
        </div>
        <h2>Event Planning</h2>
        <h3>South Park</h3>
        <p>I'm goin' down to South Park, gonna leave my woes behind.</p>
      </div>
    </div>
  </div>
</div>
