<div class="container">
  <div class="row">

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="pricing-table">
        <div class="personal">
          <h2 class="title">Resume Consultation</h2>
          <div class="content">
            <p class="price">$10</p>
          </div>
          <p class="features">A member of the team will review and/or develop a well-designed, professional resume tailored to your needs.</p>
          <a href="mailto:{{site.email}}">
            <div class="pt-footer">
              Contact Now
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="pricing-table">
        <div class="professional">
          <h2 class="title">Cover Letter Consultation</h2>
          <div class="content">
            <p class="price">$20</p>
          </div>
          <p class="features">A member of the team will use your resume to build a custom cover letter geared toward a potential job opportunity.</p>
          <a href="mailto:{{site.email}}">
            <div class="pt-footer">
              Contact Now
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="pricing-table">
        <div class="business">
          <h2 class="title">LinkedIn Consultation</h2>
          <div class="content">
            <p class="price">$30</p>
          </div>
          <p class="features">A member of the team will optimize your LinkedIn to increase your online presence and to help you connect with recruiters and colleagues.</p>
          <a href="mailto:{{site.email}}">
            <div class="pt-footer">
              Contact Now
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>