<div class="container">
  <div class="services">
    <div class="servicePanels">
      <div class="panel resume">
        <div class="panelOuter">Resume</div>
        <div class="panelInner">We give you the tools you need to wow the recruiter with your resume. Let us help you get that interview!</div>
      </div>
      <div class="panel coverLetter">
        <div class="panelOuter">Cover Letter</div>
        <div class="panelInner">We'll teach you how to use your cover letter as a tool. A tool that will take your resume the extra mile!</div>
      </div>
      <div class="panel linkedIn">
        <div class="panelOuter">LinkedIn</div>
        <div class="panelInner">More recruiters and companies are searching via LinkedIn. We can help you make your profile stand out!</div>
      </div>
    </div>
    <div class="howItWorks">
      <ol>
        <li>Choose your review (resume, cover letter, or LinkedIn).</li>
        <li>We review your choice with you.</li>
        <li>We talk through your document with you, teaching you the skills you need along the way.</li>
        <li>We send you a list of changes to make.</li>
        <li>We perform a final review.</li>
        <li>You hit the ground running.</li>
      </ol>
    </div>
  </div>
</div>
